<!--
PAGE DE TITRE
-->


<article id="page-titre">

    <p>Mars, avril, mai, juin 2016</p>

    <h1 style="margin-bottom: 0;">Livret III</h1>


    <dl id="toc">
        <dt>Édito</dt><dd>page 3</dd>
        <dt>La colonie</dt><dd>page 4</dd>
        <dt>Eden expérience(s)</dt><dd>page 10</dd>
        <dt>Décris-​Ravage</dt><dd>page 16</dd>
        <dt>Les pollutions lumineuses</dt><dd>page 22</dd>
        <dt>Nos Balsatoiles</dt><dd>page 29</dd>
        <dt>Extras</dt><dd>page 31</dd>
        <dt>Informations pratiques</dt><dd>page 36</dd>
        <dt>Colophon</dt><dd>page 41</dd>
        <dt>Équipe</dt><dd>page 42</dd>
    </dl>

</article>




<!--
    ÉDITO
-->
<article id="edito">
<div class="region-break height0">&nbsp;</div>
<div class="region-break height0">&nbsp;</div>

    <p>
      Cette saison 2015-2016, nous l’avons placée sous le signe de la résistance, dans une volonté de se recentrer sur l’essentiel : l’échange, le partage, les liens, les libertés. Aussi, si, avec ce troisième livret, la fin de la saison se rapproche, nous sommes plutôt dans un recommencement. Ce temps de résistance est loin d’être à son terme.  Plus que jamais, nous devons créer de nouvelles organisations, de nouvelles possibilités de vie et de création. Quitter ces postures d’attente et agir. Etablissons de nouvelles règles, expérimentons.
    </p>
    <p>
      Cette cinquième saison est aussi la fin de notre premier mandat de direction artistique. L’apprentissage y fut multiple. Notamment, que rien ne nous force d’accepter les habituels discours de rentabilité. Notre théâtre est un lieu public, un lieu de vie, d’idées, d’émotions, d’imaginaire ; il n’est pas une entreprise qui doit capitaliser. Et si il y a bien une constante que nous tenons à préserver à l’avenir, c’est celle de l’humain, une valeur qui fait loi chez nous et qui nous pousse à rejeter au loin la barbarie qui vient et n’en finit plus de venir.

    </p>

    <footer>
        <p>
            Monica Gomes et Fabien Dehasseler<br/>
            Direction artistique
        </p>
    </footer>
    <div class="spreadit" style="width: 188mm; top: 10mm; left: 10mm;clear:both;">
        <img class="hichem" src="img/hichem/silvio-livret.jpg" data-alt-src="img/hichem/silvio-livret.jpg" />
        <footer><div class="parties nature">Festivité cochonne</div></footer>
    </div>
</article>


<!--
    La colonie
-->
<article id="la-colonie" class="spectacle">

<!-- <div class="spreadit" style="width: 188mm; top: 10mm; left: 10mm;clear:both;">
    <img class="hichem" src="img/web/silvio.jpg" data-alt-src="" />
    <footer><div class="parties nature">Festivité cochonne</div></footer>
</div> -->

<div class="region-break height0">&nbsp;</div>
<div class="region-break height0">&nbsp;</div>
<div class="region-break height0">&nbsp;</div>

<div class="spreadit" style="width: 188mm; top: 10mm; left: 10mm;">
    <img class="hichem" src="img/hichem/celine2-livret.jpg" data-alt-src="img/hichem/celine2-livret.jpg" />
    <footer><div class="parties nature">Love, change, perfect</div></footer>
</div>


<div class="entete">
    <dl class="artist">
        <dd class="titre">La colonie</dd>
        <dd>Silvio Palomo</dd>
        <dt class="vignette">
            <img src="img/laidout/pinata.png" />
        </dt>

        <dd>Une série proposée en 4 épisodes</dd>
    </dl>
    <div class="spectacle-infos">
        <div>La visite, le 7 mars à 20h30<br/>
          Le trou, le 14 mars à 20h30  <br/>
L'enquête, le 11 avril à 20h30  <br/>
Le parc, le 18 avril à 20h30
    </div>
</div>
</div>


      <p><em>La colonie</em> est un projet atypique qui voyage dans une réalité incongrue pour mieux en révéler toute la violence. Un voyage dans le temps, dans les saisons et les sensations d’une année qui passe. Voir <em>la colonie</em>,  c’est être le témoin d’une expérience unique qui emmène un groupe en territoire inconnu.
    </p>
          <p>
    Après avoir découvert le travail particulier de Silvio Palomo, à l’Insas, nous étions convaincus qu’il pourrait s’inscrire dans notre saison comme un évènement performatif et alternatif à part entière. Un travail sur la distorsion de la réalité, sur la vie déréalisée.
  </p>
  <h4>Inspiré de faits réel</h4>
      <blockquote>
« Ça se passe après.<br/>
Il y a eu quelque chose d'important, peut-être une catastrophe.<br/>
On tente de se reconstruire avec ce qu'il nous reste.<br/>
Dans l'état présent du monde les rêves ont toujours un poids de réalité. On papote, on se laisse bercer par des chansons douces et par la beauté du paysage.<br/>
C'est une série, un peu comme à la télé, mais au théâtre, à côté de la scène, dans le foyer.<br/>
Une boîte est posée sur un terrain vague.<br/>
Une tente et un homme plantés là. Pendant un mois nous le suivrons, lui et les autres, ceux qui viennent à sa rencontre. Une amie avec de bonnes anecdotes, un groupe de punk, un policier avec une arme, de jeunes touristes. <br/>
Il y aura quatre épisodes, comme quatre saisons dans une année. <br/>
Dans une esthétique qui se rapproche du bricolage et du carnaval, la scénographie est une forme d’écriture parallèle au jeu d’acteur.<br/>
Il y aura du passage toujours dans l’idée de construire quelque chose ensemble. Comme des fourmis qui rassemblent les morceaux petit à petit.<br/>
Une colonie quoi. »
</blockquote>
    <footer><p>Silvio Palomo</p></footer>

    <h4>Extrait</h4>
    <blockquote>
« ... et donc, avec ce phénomène de désorientation, je me suis rendu compte, en fait, au fil des voyages que j’avais faits qu’il y avait une autre façon de pouvoir se repérer... ça arrive assez souvent, quand on est en vacances... on revient sur le lieu précédent et on découvre qu’on a, en quelque sorte, une mémoire visuelle... voilà. »
    </blockquote>

    <dl class="bible" style="margin-top:35pt;">
        <dt>Mise en scène</dt>
        <dd>Silvio Palomo</dd>
        <dt>Avec</dt>
        <dd>Léonard Cornevin, Wilhem De Baerdemaeker, Aurélien&nbsp;Dubreuil-Lachaud, Manon&nbsp;Joannotéguy, Quentin Pechon, Jean&#8209;Baptiste&nbsp;Polge, Verane&nbsp;Rebet, Nicole&nbsp;Stankiewicz, Simon&nbsp;Thomas</dd>
        <dt>Scénographe</dt>
        <dd>Itzel Palomo</dd>
    </dl>

    <div class="production">
        <p>
Une production du Théâtre la Balsamine avec le soutien d’Ersatz collectif et ArtistProject.
        </p>
    </div>

    <div class="region-break height0">&nbsp;</div>

<figure class="cuivre" style="width:100%;position:relative; ">
    <img src="img/ColonieNB.jpg" data-alt-src="img/ColonieNB.jpg" />
    <footer>© Silvio Palomo</footer>
</figure>


<div class="region-break height0">&nbsp;</div>




    <div class="spreadit" style="width: 188mm; top: 10mm; left: 10mm;">
        <img class="hichem" src="img/hichem/adeline-livret.jpg" data-alt-src="img/hichem/adeline-livret.jpg" />
        <footer><div class="parties nature">Jeune fille à la couronne</div></footer>
    </div>
</article>



<!--
    EDEN
-->

<article id="eden" class="spectacle">


<!-- <div class="spreadit" style="width: 188mm; top: 10mm; left: 10mm;">
    <img class="hichem" src="img/web/celine2.jpg" data-alt-src="" />
    <footer><div class="parties nature">Love, change, perfect</div></footer>
</div> -->

<div class="region-break height0">&nbsp;</div>
<div class="region-break height0">&nbsp;</div>
<div class="region-break height0">&nbsp;</div>
<div class="spreadit" style="width: 188mm; top: 10mm; left: 10mm;">
    <img class="hichem" src="img/hichem/viandes magnetiques-livret.jpg" data-alt-src="img/hichem/viandes magnetiques-livret.jpg" />
    <footer><div class="parties nature">Leçon d'anatomie</div></footer>
</div>


<div class="entete">
    <dl class="artist">
        <dd class="titre">Eden expérience(s)</dd>
      <dd>Compagnie Diplex</dd>
        <dt>Texte et mise en scène</dt><dd>Céline Ohrel</dd>

        <dt class="vignette">
            <img src="img/laidout/boite-petri.png"/>
        </dt>
        <dd>Création théâtre</dd>

    </dl>
    <div class="spectacle-infos">
        <div class="date">Du 17 au 25 mars à 20h30 (relâche&nbsp;dimanche)</div>
    </div>
</div>

    <p>
      <em>Eden Expérience(s)</em>, ce serait comme pénétrer dans une maquette de centre commercial, regarder ces êtres parfaits et souriants qui déambulent devant les vitrines et essayer d'animer ces personnages en vrai. Leur inventer des histoires d'humains et faire craquer doucement le glacis de leurs apparences.
    </p>
    <p>
      Ainsi, la fiction débute comme ce huis-clos métaphorique. Un couple fait face à une annonce tragique concernant leur enfant tandis qu’au dehors, une menace grandit: un pic de pollution et une chaleur accablante obligent nos protagonistes à rester à l'intérieur de cette grande surface improbable, comme des Adam et Ève errants dans un paradis artificiel.
    </p>
    <p>
      En interrogeant au travers de nos corps la notion de perfection, nous allons parler de handicap, d’eugénisme, de nature, de ville écolo et de campagne citadine, d’humains augmentés, d’orgasme numérique… Jusqu'où le désir de perfection peut-il entrer dans nos ventres, dans nos maisons, dans nos corps tout entier… Jusqu'où sommes-nous prêts à nous normaliser pour être plus heureux?
    </p>
    <p>
      <em>Eden Expérience(s)</em>, ce serait un brainstorming cathartique et expérimental. Une mise à l'épreuve de l'idéal singulier de perfection de notre modernité… Sans catastrophisme, juste pour ne pas oublier, juste pour oser en parler.
    </p>

    <!-- <figure class="cuivre" style="position:relative; float:left;width:100%;">
        <img src="img/eden1.jpg" data-alt-src="img/silvio.jpg" />
    </figure>
    <figure class="cuivre"  style="position:relative; float:left;width:100%;">
        <img src="img/eden2.jpg" data-alt-src="img/silvio.jpg" />
    </figure> -->
    <div class="region-break height0">&nbsp;</div>

    <h4>Dessins préparatoires à la scénographie</h4>
    <figure class="cuivre"  style="position:relative; float:left;width:100%;margin-left:0;padding-left:0;">
            <img src="img/adam-et-eve-croquis-EDEN.jpg" data-alt-src="img/adam-et-eve-croquis-EDEN.jpg" />
                <footer>Adam et Eve</footer>
        </figure>


        <figure class="cuivre"  style="position:relative;width:100%;margin-left:0;padding-left:0;top:50pt;">
            <img src="img/Desir-EDEN-NB.jpg" data-alt-src="img/Desir-EDEN-NB.jpg" />
                <footer>Désir</footer>
        </figure>

<div class="region-break height0">&nbsp;</div>

    <dl class="bible">
        <dt>Texte et mise en scène</dt>
        <dd>Céline Ohrel</dd>
        <dt>Avec</dt>
        <dd>Fanny Catel, Philippe Grand'henry, Fabien Magry, Anaïs Moreau, Anna Moysan</dd>
        <dt>Création sonore</dt>
        <dd>Arnaud Poirier</dd>
        <dt>Scénographie</dt>
        <dd>Hélène Bessero et Céline Ohrel</dd>
        <dt>Costumes</dt>
        <dd>Hélène Bessero</dd>
        <dt>Création lumière et technique vidéo</dt>
        <dd style="padding-top:23px;">Ledicia Garcia</dd>
        <dt>Vidéo</dt>
        <dd>Flore Bleiberg</dd>

    </dl>
    <div class="production">
        <p>
          Une production Diplex en coproduction avec le Théâtre la Balsamine et avec l'aide de la Fédération Wallonie-Bruxelles-Service du Théâtre.
        </p>
        <p>
          Pour suivre l’actualité de la compagnie: www.diplexhotel.com
        </p>
    </div>

    <!-- AUTOUR DU SPECTACLE -->
    <h3>AFTER-SHOW</h3>
    <div class="spectacle-infos">
        <div class="date">le vendredi 18 mars</div>
    </div>
    <p>
      En après spectacle, nous vous proposons une rencontre avec l'équipe artistique. L'occasion pour les spectateurs d’interagir avec les artistes!
    </p>



</article>





<!--
    RARVAGE
-->
<article id="ravage" class="spectacle">

  <div class="region-break height0">&nbsp;</div>

<!-- <div class="spreadit" style="width: 188mm; top: 10mm; left: 10mm;">
    <img class="hichem" src="img/web/adeline.jpg" data-alt-src="img/hichem/Clément3-livret.jpg" />
    <footer><div class="parties nature">Jeune fille à la couronne</div></footer>
</div> -->

<!-- <div class="region-break height0">&nbsp;</div>
<div class="region-break height0">&nbsp;</div> -->
 <div class="region-break height0">&nbsp;</div>
<div class="region-break height0">&nbsp;</div>
<div class="region-break height0">&nbsp;</div>


<div class="entete">
    <dl class="artist">
        <dd class="titre">décris-ravage</dd>
        <dt>Écriture et mise en scène</dt><dd>Adeline Rosenstein</dd>
        <dt class="vignette">
            <img src="img/laidout/palmier.png" />
        </dt>
        <dd>Projet théâtral documentaire sur la question de la Palestine.<br/>
Proposé en 6 épisodes.<br/>
Reprise des épisodes 1 à 4 et création des épisodes 5 et 6.</dd>
    </dl>
    <div class="spectacle-infos">
        <div class="date">Du 19 au 22 avril à 19h30<br/><span style="font-size:8pt; display:block;">Chaque épisode dure environ 30 minutes, <br/>de courtes pauses marquent le passage </span><span style="font-size:8pt;padding-left:5pt;display:block;">de l’un à l’autre, et un entracte est prévu</span><span style="font-size:8pt;padding-left:25pt;display:block;">à mi-parcours, à 21h</span></div>
        <div class="lieu" style="padding-left:45pt;margin-bottom:10pt;display:block;">Le 23 avril à 16h</div>
    </div>
</div>

    <p>
<em>Décris-ravage</em> donne à voir une série de conférences théâtrales qui constituent une traversée historique et sémantique du dossier international appelé Question de Palestine. Le spectacle retrace les retrouvailles à partir de 1799 entre l’Occident et un petit territoire peuplé (!) aux enjeux imaginaires infiniment grands, la Terre Sainte.
    </p>
    <figure class="cuivre"  style="position:relative;width:65%;margin-top:-20pt;z-index:-10;">
        <img src="img/ravage-NB.jpg" data-alt-src="img/ravage-NB.jpg" />
        <footer>© Verena Kammerer</footer>
    </figure>

    <figure class="cuivre"  style="position:relative;width:100%;float:left;margin-left:0;padding-left:0;">
        <img src="img/ravage2-NB.jpg" data-alt-src="img/ravage2-NB.jpg" />
        <footer>© Alex Nollet</footer>
    </figure>

    <figure class="cuivre"  style="position:relative;width:100%;float:left;margin-left:0;padding-left:0;">
        <img src="img/ravage3-NB.jpg" data-alt-src="img/ravage3-NB.jpg" />
        <footer>© Alex Nollet</footer>
    </figure>
    <footer class="vert">Photos prises lors des représentations des épisodes 1 à 4 au Théâtre Océan Nord.</footer>
    <div class="region-break height0">&nbsp;</div>

    <blockquote>
« Ce travail se fonde sur la conviction que le lieu du théâtre - où l’exercice de la représentation, de soi, des autres, de nos rapports, déjà à l’œuvre partout ailleurs, se livre à visage découvert - est le lieu idéal pour décrire et substituer aux récits morbides majoritaires, des points de vue complexifiés, plastiques, situés. »
    </blockquote>
    <footer><p>Sandra Iché, chorégraphe, danseuse et complice pour l’écriture de l’épisode 5 de <em>décris-ravage</em>.</p></footer>


    <dl class="bible">
        <dt>TEXTES ÉCRITS OU RECUEILLIS ET MIS EN SCÈNE</dt>
        <dd>Adeline Rosenstein</dd>
        <dt>AVEC</dt>
        <dd>Olindo Bolzan, Léa Drouet, Isabelle Nouzha,  Adeline Rosenstein, Thibaut Wenger</dd>
        <dt>LUMIÈRES, ESPACE</dt>
        <dd>Ledicia Garcia</dd>
        <dt>REGARDS SCIENTIFIQUES</dt>
        <dd>Henry Laurens, Julia Strutz, Tania Zittoun</dd>
        <dt>DESSIN</dt>
        <dd>Verena Kammerer</dd>
        <dt>Production</dt>
        <dd>Leïla Di Gregorio</dd>
    </dl>
    <div class="production">
        <p>
          Une production Little Big Horn asbl. Avec l’aide de la Fédération Wallonie-Bruxelles – Direction du Théâtre - Conseil d’aide aux projets théâtraux, de la Cocof et de WBI pour la diffusion internationale. Avec les soutiens du Festival Echtzeitmusik, du Festival Premiers Actes, d’Ausland-Berlin, du Théâtre Océan Nord, du  Centre de Culture ABC (la Chaux-de-Fonds), du CCAM de Vandœuvre-lès-Nancy et du Théâtre la Balsamine.</p>
<p>
          Ce projet a bénéficié d’une bourse d’auteur de la CFWB,  d’une bourse du soutien aux lettres du WBT/D, d’une bourse Odyssée pour la traduction (France), d’un soutien du Comité Mixte Chartreuse de Villeneuve-lez- Avignon.
        </p>
    </div>

<div class="region-break height0">&nbsp;</div>


    <!--AUTOUR DU SPECTACLE-->
    <h3>AFTER-SHOW</h3>
    <div class="spectacle-infos">
        <div class="date">le samedi 23 avril à 20h</div>
    </div>
    <p>
Nous vous proposons une rencontre avec Eléonore Merza Bronstein et Eitan Bronstein Aparicio, fondateurs de « De-colonizer, research and art laboratory for a social change », dont le travail de recherches et de sensibilisation du public israélien et international au récit et à l’histoire des palestiniens nourrit l’écriture de <em>décris-ravage</em>. Ils présenteront leur projet évolutif de carte de la Nakba, reconstituant progressivement les localités (villes, villages, jusqu’aux communautés de – de 100 habitants) détruites en Palestine / Israël depuis le début de la colonisation sioniste. Nous reviendrons avec eux sur l’histoire des lieux invisibles dont il est question dans le spectacle.
    </p>

    <figure class="cuivre"  style="position:relative;width:100%;margin-left:0;padding-left:0;">
        <img src="img/complexcity_pattern_paris_bk-NB.jpg" data-alt-src="img/complexcity_pattern_paris_bk-NB.jpg" />
        <footer>© Lee Jang Sub</footer>
    </figure>
<div class="region-break height0">&nbsp;</div>
<div class="region-break height0">&nbsp;</div>


</article>






<!--
       POLLUTIONS
-->
<article id="side-effects" class="spectacle">

<!-- <div class="spreadit" style="width: 188mm; top: 10mm; left: 10mm;">
    <img class="hichem" src="img/web/viandes-magnetiques.jpg" data-alt-src="" />
    <footer><div class="parties nature">Leçon d'anatomie</div></footer>
</div> -->

<!-- <div class="region-break height0">&nbsp;</div>
<div class="region-break height0">&nbsp;</div>
<div class="region-break height0">&nbsp;</div>
<div class="region-break height0">&nbsp;</div> -->



<div class="entete">
    <dl class="artist">
        <dd class="titre">Les pollutions lumineuses</dd>
        <dd>Compagnie Les viandes magnétiques</dd>
        <dt>Texte et projet</dt>
        <dd>Jean-Baptiste Calame</dd>
        <dt class="vignette">
            <img src="img/laidout/perruque.png" />
        </dt>
        <dd>Création théâtre</dd>
    </dl>
    <div class="spectacle-infos">
        <div class="date">Du 26 avril au 4 mai à 20h30<br/>(relâche samedi et dimanche)</div>
    </div>
</div>

    <p>
      Entre théâtre de texte et théâtre expérimental, les spectacles de la compagnie Les viandes
  magnétiques sont à la fois exigeants et décontractés, drôles et critiques.
  Pour son spectacle <em>Les pollutions lumineuses</em>, la compagnie créera autour du thème de la santé publique. Dans un monde où la médecine ne cesse de progresser, la maladie devient de plus en plus complexe ; si bien qu'il est difficile de départager les vrais malades des faux. Le corps est un monde infini, fascinant et terrible, que nous proposons d'explorer dans ce spectacle avec les moyens du théâtre. Nous nous intéresserons pour cela à des approches du corps, à la fois médicales, théâtrales et anthropologiques.
    </p>
    <div class="region-break height0">&nbsp;</div>

<blockquote>
  « J'ai écrit ce texte pour raconter un sentiment de panique. J'avais l'impression de vivre au milieu de la panique. Mais ce n'était pas personnel. C'était le lien entre les individus qui semblait s'affaiblir.
C'était un problème de communication.
J'avais besoin de rendre compte de ce problème de communication sous la forme d'une pièce de théâtre. Qui a peur de quoi ? Cette peur est-elle justifiée ? Existe-t-il un moyen de la soulager ?
Ce projet, né dans la cruauté atmosphérique, porte les fruits d'un long travail passé et futur. Il prend racine dans une survie à l’œuvre, préserve le goût du vivant, et s'épanouira comme une alternative pour le réchauffement de la dimension humaine. »
    <footer style="display:inline;"><p>Jean-Baptiste Calame</p></footer></blockquote>
  </blockquote>

<blockquote>
  « Jusque dans notre peur, quelque chose était en train de changer et de nous changer, du fait même qu’à travers la notion de catastrophe le rapport entre le réel et l’imaginaire semblait s’inverser. Et s’inversant, semblait renverser toutes les perspectives, de sorte qu’il y avait peut-être là un autre point de vue d’où considérer la modernité dont nous ne nous décidions pas à percevoir la fin. »
</blockquote>
<footer><p>Annie Le Brun, Conférence sur la catastrophe, 18 mai 1989, Botanique de Bruxelles</p></footer>


<div class="region-break height0">&nbsp;</div>


<dl class="bible">
    <dt>Mise en scène et écriture</dt>
    <dd>Jean-Baptiste Calame</dd>
    <dt>AVEC</dt>
    <dd>Céline Beigbeder, Lucie Debay, Arthur Egloff, Réhab Mehal, Vincent Minne, Céline Orhel, Sophie Sénécaut</dd>
    <dt>Assistanat et production</dt>
    <dd>Morgane Naas</dd>
    <dt>Scénographie</dt>
    <dd>Clémence Jussaume</dd>
    <dt>Régie générale et lumières</dt>
    <dd>Octavie Piéron</dd>
</dl>
<div class="production">
  Une production Les viandes magnétiques en coproduction avec le Théâtre la Balsamine, avec l'aide du Ministère de la Fédération Wallonie-Bruxelles – service du théâtre, avec les soutiens du BRASS-Centre Culturel de Forest, de Charles Spapens, Échevin de la Culture, au nom du Collège des Bourgmestre et Échevins de Forest.
</div>
<div class="region-break height0">&nbsp;</div>

<!--AUTOUR DU SPECTACLE-->
<h3>AFTER-SHOW</h3>
<div class="spectacle-infos">
    <div class="date">le mercredi 27 avril</div>
</div>
<p>
  En après spectacle, nous vous proposons une rencontre avec l'équipe artistique. L'occasion pour les spectateurs d’interagir avec les artistes!
</p>

<figure class="cuivre"  style="position:relative;width:100%;margin-left:0;padding-left:0;margin-top:50pt;">
    <img src="img/AccumulateurOrgone-NB.jpg" data-alt-src="img/AccumulateurOrgone-NB.jpg" />
    <footer>Accumulateur d'énergie de Wilhelm Reich<br/>© D.R.</footer>
</figure>



</article>


<!--
    Kunstenfestivaldesarts
-->
<article id="kunstfestival" class="spectacle">




<div class="entete">
    <dl class="artist">
        <dd class="titre">Kunstenfestivaldesarts</dd>
    </dl>

</div>

<p>Le Kunstenfestivaldesarts se déroule chaque année au mois de mai.</p>

<p>La Balsamine est un de ses partenaires et dans ce cadre, elle accueille un des spectacles programmés.</p>

<p>La programmation du festival sera dévoilée en mars 2016.</p>

<div class="production"><p>Plus d’infos sur : <br/>www.kunstenfestivaldesarts.be</p><div>

</article>

<!--
    BALSATOILES
-->
<article id="balsatoiles" class="region-break">
     <h1>Nos Balsatoiles</h1>
    <p>
    Le temps de 6 mercredis, et ce tout au long de la saison théâtrale, la Balsa se transforme en cinéma de quartier. L’ouverture à autrui est devenue un lieu commun. Or il n’y a rien de plus difficile à réaliser. Donc, derrière l’idée de s’enfiler des films d’auteurs, des films d’a­ni­ma­tion, des séries B et Z, il y a une autre idée qui tient de la cohésion sociale, de proposer une pause autour d’un bon film et d’en débattre. Approfondir nos liens avec vous, avec nos créations scéniques et d’autres arts majeurs, voilà, donc, la&nbsp;belle ambition de ce ciné-club improvisé. <br /><br />Entrée libre mais réservation souhaitée&#x202F;!
    </p>

    <!--PROGRAMMATION-->
    <h3 class="date">MERCREDI 23 mars</h3>


    <h4 class="heure">15H30&#x202F;: SÉANCE JEUNE PUBLIC à partir de 6 ans</h4>
    <h5><em>Jean de la Lune</em>, Stephan Schesch, Allemagne-France, 2012, 1h32'</h5>

<figure class="cuivre">
    <img class="illu" src="img/Jean-de-la-Lune-photo-film-animation-1-NB.jpg" data-alt-src="img/Jean-de-la-Lune-photo-film-animation-1-NB.jpg"/>
    <footer>© D.R.</footer>
</figure>

    <p>
<em>Jean de la Lune</em> s’ennuie tout seul sur la Lune. Il décide de visiter la Terre. Un jour, il s’accroche à la queue d’une comète et atterrit chez nous. Le Président du Monde, persuadé qu’il s’agit d’un envahisseur, le pourchasse. Pour lui échapper, Jean de la Lune va devoir compter sur les enfants et ses amis.
    </p>



<div class="region-break height0">&nbsp;</div>
    <h3 class="date">MERCREDI 27 avril</h3>

    <h4 class="heure">15H30&#x202F;: SÉANCE JEUNE PUBLIC À PARTIR DE 6 ANS</h4>
    <h5><em>Le chant de la mer</em>, Tomm Moore, 2014, 1h33 </h5>

<figure class="cuivre">
    <img class="illu" src="img/le-chant-de-la-mer-NB.jpg" data-alt-src="img/le-chant-de-la-mer-NB.jpg" />
    <footer>© D.R.</footer>
</figure>

    <p>
Ben et Maïna vivent avec leur père tout en haut d’un phare sur une petite île. Pour les protéger des dangers de la mer, leur grand-mère les emmène vivre à la ville. Ben découvre alors que sa petite soeur est une selkie, une fée de la mer dont le chant peut délivrer les êtres magiques du sort que leur a jeté la Sorcière aux hiboux. Au cours d’un fantastique voyage, Ben et Maïna vont devoir affronter peurs et dangers, et combattre la sorcière pour aider les être magiques à retrouver leur pouvoir.
    </p>
</article>

<article id="extras" class="spectacle">
    <h1>Extras</h1>

    <h2>Stage Cifas<br/>
    THE CHORUS / LE CHŒUR  </h2>
    <h3 class="date">Du 5 au 13 avril 2016</h3>
    <h4 class="heure">
Workshop mené par Marta Górnicka (PL)  </h4>
<div class="date" style="text-align:center;">Inscriptions&#x202F;: www.cifas.be<br/>avant le 18 mars 2016 – 16h</div>
    </p>

    <figure class="cuivre">
        <img class="illu" src="img/illu-floodts3-CIFAS-NB.jpg" data-alt-src="img/illu-floodts3-CIFAS-NB.jpg" />
        <footer>© Fabienne Loodts</footer>
    </figure>

    <p>
      Rassembler une diversité d’individus, qui créent un seul corps commun. Travailler à la frontière entre langage et voix, corps et voix. Edifier une tour de Babel des langues, des corps et des voix.
    </p>
    <p>
      Marta Górnicka invite des artistes de différents champs, musiciens, chanteurs, danseurs et acteurs, issus de pays différents et parlant différentes langues, à créer ensemble une prise de position politique radicale, autour du thème du CHŒUR.
    </p>
    <p>
      A partir d’extraits de presse, de textes philosophiques, de pièces de théâtre anciennes, de publicités, de chansons pop, de sons d’ordinateurs ou de comptines proposés par les participants, nous créerons un livret multilingue et une forme théâtrale nouvelle, qui seront une tentative de répondre aux discours néo-nationalistes qui se renforcent en Europe, et à la terreur du langage contemporain. Une TOUR DE BABEL des langues, des discours et des voix. L’objectif sera d’examiner ce qui se passe entre langage et musique, langage et corps/voix, langage et genre.
    </p>

      <h4 style="margin-top:15pt;">Marta Górnicka</h4>
          <p>
      À travers la forme de théâtre choral post-dramatique qu’elle a conçue, Marta Górnicka développe des techniques et des stratégies critiques de travail « entre corps et langage ». Avec sa compagnie Chór Kobiet (le chœur des femmes), elle crée depuis 2010 des spectacles à Varsovie. La compagnie est née avec l’idée de « reprendre possession de la voix des femmes » et de créer un théâtre choral post-moderne – une conception esthétique, formelle et idéologique du théâtre qui mêle la force originelle de la voix et du corps collectifs en Occident à une critique contemporaine du langage en tant qu’outil de pouvoir.
    </p>
    <p>LE CHŒUR veut questionner la Communauté, pour examiner s’il y a bien un « nous » qui existe – et si oui, de quelle manière.
</p>

    <div class="production" style="margin-top:10pt;">
       Le Cifas est un programme conçu avec le soutien du Service du Gouvernement francophone bruxellois, de la Fédération Wallonie-Bruxelles et d'Actiris.
    </div>

    <div class="region-break height0">&nbsp;</div>

    <div class="entete">
        <dl class="artist">
            <dd class="titre">Driften <br/><span style="font-size:8pt;">The carnival is over</span></dd>
          <dd>La compagnie BabaFish/Petri Dish</dd>
            <dd>Cirque-danse</dd>
        </dl>
        <div class="spectacle-infos">
            <div class="date">Le 14 Juin à 20h30</div>
        </div>
    </div>

    <figure class="cuivre">
        <img class="illu" src="img/6881802013_05a17b5268_o-NB.jpg" data-alt-src="img/6881802013_05a17b5268_o-NB.jpg" />
        <footer>© D.R.</footer>
    </figure>
    <p>
      Entre solitude et vie commune, sept personnages, écrasés par le poids des conventions sociales se retrouvent le temps d’une nuit (celle de l’équinoxe d’automne) dans un appartement où chaque meuble semble avoir une vie propre, où les plantes se font menaçantes. Dans ce jour égal à la nuit ils tenteront de résister pour ne pas complétement mourir sans se débattre. Sous leurs masques et dans l’ombre de la foule, ils seraient tous des caméléons flânant dans la masse pour y rechercher leur individualité.
    </p>
    <p>
      C’est ce paradoxe existentialiste de l’homme «&nbsp;postmoderne&nbsp;» que <em>Driften</em> cherche à mettre en lumière.
      <em>Driften</em>, dans sa joyeuse collectivité,  propose une forme subtile et organique alliant le cirque, la danse et le théâtre.
    </p>
    <div class="region-break height0">&nbsp;</div>

    <dl class="bible">
      <dt>Concept et mise en scène</dt><dd> Sara Lemaire, Anna&nbsp;Nilsson</dd>
    <dt>Chorégraphie</dt><dd> Hun-Mok Jung</dd>
    <dt>Avec</dt><dd> Viola Baroncelli, Nilda Martinez, Carlo&nbsp;Massari, Anna Nilsson, Léonardo&nbsp;Mayorga&nbsp;Sanchez, Jef Stevens</dd>
    <dt>Lumière et direction plateau</dt><dd> Hugues Girard</dd>
    <dt>Son et technique plateau</dt><dd> Tonin Bruneton</dd>
    <dt>Création Lumière</dt><dd> Rémy Urbain</dd>
  </dl>
    <div class="production" style="margin-top: 12.5pt;">
Avec la collaboration du Théatre Marni, des Halles de Schaerbeek, du Centre des Arts Scéniques, de l’Espace Catastrophe, du Centre International de Création des Arts du Cirque, du Théâtre la Balsamine, de Latitude 50-ATELIER devenirs, du KVS, de Wolubilis Culture, du Circuscentrum, du Columban, du Destelheide-Vormingcentrum, du Dommelhof/Neerpelt et de la SACD. 
    </div>
    <div class="vert" style="margin-top: 12.5pt;border-top:1px solid black;">
    <p>Pour le spectacle <em>Driften</em>, nous appliquerons, en matière de tarification, la PARTICIPATION CONSCIENTE. Pour faire simple, VOUS DÉCIDEZ  VOUS-MÊME DU MONTANT DU PRIX D’ ENTRÉE que vous souhaitez ou pouvez donner pour assister au spectacle.</p>
  </div>

    <div class="region-break height0">&nbsp;</div>

    <h2 style="margin-top: 37.5pt;">PIF 2&#x202F;:<br/>le réveil du flair</h2>
    <h3 class="date">Les 22 et 23 Juin</h3>


    <p>
      Le retour du PIF ! Cette nouvelle édition du pauvre et informe festival va vous titiller les narines et vous emmener dans des cavités nasales jamais explorées. Aventuriers de l’étrange, à vos agendas !
    </p>




    <div class="vert" style="margin-top: 12.5pt;border-top:1px solid black;">
    <p>Pour les spectacles du Pif 2, nous appliquerons , en matière de tarification, la PARTICIPATION CONSCIENTE. Pour faire simple, VOUS DÉCIDEZ  VOUS-MÊME DU MONTANT DU PRIX D’ ENTRÉE que vous souhaitez ou pouvez donner pour assister au festival. </p>
  </div>

  <figure class="cuivre" style="margin-top:30pt;">
      <img class="illu" src="img/combat-stipple.png" />
  </figure>
</article>




<!--
INFOS PRATIQUES
-->

<article id="infos-pratiques">
<h1>Informations pratiques</h1>

<h2>BILLETTERIE</h2>

<h3>RÉSERVATIONS</h3>
<h4>Par téléphone</h4>
<p>
Le bureau des réservations est joignable au 02&nbsp;735&nbsp;64&nbsp;68. Du lundi au vendredi, de 14h à 18h, la Balsamine prend vos réservations ou vous donne des renseignements complémentaires. En dehors de ces heures et le week-end, un répondeur prend vos réservations.
</p>

<h4>Par e-mail</h4>
<p>
En envoyant un e-mail à l’adresse &lt;reservation@balsamine.be&gt; en précisant votre nom&nbsp;et votre prénom, le nom du spectacle, la date de re&shy;pré&shy;sen&shy;ta&shy;tion, le(s) tarif(s) dont vous bénéficiez et le nombre de places souhaitées. Un e-mail de confirmation vous sera ensuite renvoyé.
</p>
<h4>Par le site internet</h4>
<p>
Accessible 24h/24, vous pouvez cliquer sur le lien «&#x202F;réserver&#x202F;» présent sur chaque page de spectacle du site et compléter le formulaire. Un e-mail de con&shy;fir&shy;ma&shy;tion vous sera ensuite envoyé. Cette réservation en ligne concerne à la fois les places au tarif prévente mais aussi les places qui ne seront payées que le soir de votre venue.
</p>



<h3 class="region-break">MOYENS DE PAIEMENT ET&nbsp;RETRAIT&nbsp;DES&nbsp;PLACES</h3>

<h4>PRÉVENTES</h4>
<p>
Par virement bancaire au numéro de compte suivant:
IBAN BE15 0680 6267 2030 — BIC GKCCBEBB </br>
Pour bénéficier du tarif prévente, le paiement doit avoir lieu 48h avant la date de représentation choisie. Pour les virements, le paiement doit être effectué 5 jours à l’avance. Nous vous remercions d’indiquer en communication votre nom, votre prénom, la date de représentation choisie et le numéro de réservation qui vous a été communiqué soit par e-mail, soit par téléphone.
</p>

<h4>SUR PLACE</h4>
<p>
La billetterie est ouverte les soirs de représentation à&nbsp;partir de 19h.</br>Paiement cash, bancontact et visa.</br>
Quel que soit le moyen de réservation ou de paiement, les places (jetons d'entrée) sont à retirer à la billetterie le soir-même de la représentation. À partir de 20h15, les&nbsp;places non retirées et non payées sont sus&shy;cep&shy;ti&shy;bles d’être remises en vente&#x202F;! Au cas où les re&shy;pré&shy;sen&shy;ta&shy;tions sont <em>sold out</em>, sachez que nous ouvrons des listes d'attente sur place dès l'ouverture des portes.
</p>

<h4>ACCÈS AU SPECTACLE </h4>
<p>
Toutes les  représentations débutent à&nbsp;20h30.
</p>



    <h3 class="region-break">Prix des places</h3>

    <div id="tarifs">
        <div class="tarif">
            <div>Tarif plein</div>
            <div class="prix">15&#x202F;€</div>
            <div class="arrow"> → </div>
        </div>
        <div class="tarif">
            <div>Prévente </div>
            <div class="prix">12&#x202F;€</div>
        </div>
        <div class="tarif">
            <div>Tarifs réduits *</div>
            <div class="prix">9&#x202F;€</div>
            <div class="arrow"> → </div>
        </div>
        <div class="tarif">
            <div>Prévente</div>
            <div class="prix">6&#x202F;€</div>
        </div>
        <div class="tarif" style="width: 100%; margin-bottom: 1em;">
            <div class="notes">* étudiants, + de 60 ans, demandeurs d’emploi, professionnels du spectacle, schaerbeekois</div>
        </div>

        <div class="tarif" style="width: 50%; float: left;">
            <div style="width: 100%;">Tarif étudiant <br /> en écoles supérieures artistiques</div>
            <div class="prix">5&#x202F;€</div>
        </div>


        <div class="tarif" style="width: 50%; float: left;">
            <div style="width: 100%;">Tarif «&#x202F;Jamais deux&nbsp;sans&nbsp;toi&#x202F;» <br /> (chaque 2<sup>e</sup>&nbsp;représentation)</div>
            <div class="prix">6&#x202F;€</div>
        </div>
        <div class="tarif" style="clear: both; margin-top: -0.5em;">
            <div class="prix" style="width: 48px; height: 40px; -webkit-border-radius: 130px;">Article 27</div>
            <div class="prix" style="width: 48px; height: 40px; -webkit-border-radius: 130px; margin-top: 1em;">Arsène 50</div>
        </div>
        <div class="tarif" style="margin-top:23pt;">
            <div style="padding-top:0em;">Tarif Mécène</div>
            <div class="prix">20&#x202F;€</div>
        </div>


        <div class="tarif" style="clear: both; width: 100%;">
            <div>Tarifs de groupe<br/>
            (à partir de 10 personnes)</div>
        </div>
        <div class="tarif">
            <div>Groupe adulte</div> <div><div class="prix" style="width: 48px; height: 40px; -webkit-border-radius: 130px;">10&#x202F;€ la&nbsp;place</div>+ 1 place offerte à&nbsp;l’organisateur</div>
        </div>
        <div class="tarif" style="margin-bottom: 1em;">
            <div>Groupe étudiant</div> <div><div class="prix" style="width: 48px; height: 40px; -webkit-border-radius: 130px;">6&#x202F;€ la&nbsp;place</div> + 1 place offerte à&nbsp;l’enseignant</div>
        </div>
          <p style="text-align: center; width: 100%; clear: both;" class="small">Le  paiement des  réservations de groupe doit s'effectuer 10&nbsp;jours  avant la date  de représentation choisie.</p>
    </div>





    <div id="bar" class="region-break">
    <h2>Bar et restauration</h2>
    <p>Le bar est ouvert à 19h chaque soir de représentation.
    Une petite restauration délicieuse et faite sur place vous est proposée avant chaque spectacle.
   </p>
    <p style="text-align:center;">
    <img class="vert" style="height: 248px; width: auto;" src="img/laidout/buffet.png" data-alt-src="img/laidout/buffet.svg" />
    </p>
    </div>



    <div id="map">
    <h2>Tous les chemins mènent à la Balsa</h2>
        <img class="vert" style="width:110%; max-width: none;  margin-left: -20px;" src="pack-com/map2-vector-15-16-black.svg"  data-alt-src="pack-com/map2-vector-15-16-black.svg"/>
    </div>



    <div class="region-break" id="partenaires">
    <h2>Partenaires</h2>

    <div class="fullpage">
        <!--<img class="vert" src="img/logos.svg" /> -->

    <img class="vert" src="img/logos_vert.svg" />
    <img class="cuivre" src="img/logos_cuivre.svg" />

    </div>

    <p>
La Balsamine est subventionnée par  la&nbsp;Fédération Wallonie-Bruxelles et fait partie  du&nbsp;réseau des&nbsp;Scènes chorégraphiques de la Commission  Communautaire française de la Région de&nbsp;Bruxelles-Capitale.
La&nbsp;Balsamine reçoit aussi le&nbsp;soutien de Wallonie-Bruxelles Théâtre/Danse et de Wallonie-Bruxelles International.
    </p>
</div>




</article>



<!--
CALENDRIER
-->

<!--
<article id="calendrier">

<h1>Bientôt à la Balsa</h1>
<div class="">

    <div class="spectacle" id="colonie">
        <dl class='artist'>
        <dd class="titre">La colonie</dd>
            <dt>Performances</dt>
            <dd>Silvio Palomo</dd>
    <dt class="vignette">
    <img src="img/laidout/pinata.png">
    </dt>
    <dd>
            Une série proposée en 4 épisodes
           </dd>
        </dl>

        <div class="spectacle-infos">
            <div class="date">
            La visite, le 7 mars <br/>
            Le trou, le 14 mars <br/>
            L'enquête, le 11 avril <br/>
            Le parc, le 18 avril
            </div>
        </div>
    </div>


    <div class="spectacle" id="eden">
        <dl class='artist'>
        <dd class="titre">Eden expérience(s)</dd>
            <dd>Compagnie Diplex</dd>
            <dt>Texte et mise en scène</dt><dd>Céline Ohrel</dd>
    <dt class="vignette">
    <img src="img/laidout/boite-petri.png">
    </dt>
            <dd>Création théâtre</dd>
        </dl>
        <div class="spectacle-infos">
            <div class="date">Du 17 au 25 mars</div>
        </div>
    </div>


    <div class="spectacle" id="ravage">
        <dl class='artist'>
        <dd class="titre">Décris/​Ravage</dd>
            <dt>Écriture et mise en scène</dt><dd>Adeline&nbsp;Rosenstein</dd>
    <dt class="vignette">
    <img src="img/laidout/palmier.png" style="width: 0.82cm;" />
    </dt>
        <dd>
       Projet théâtral documentaire sur&nbsp;la&nbsp;question de&nbsp;la&nbsp;Palestine.<br/>
            Proposé en&nbsp;6&nbsp;épisodes. <br/>
            Reprise des épisodes 1 à 4 <br />
            et création des épisodes 5 et 6.
            </dd>
        </dl>
        <div class="spectacle-infos">
            <div class="date">Dates à confirmer</div>
        </div>
    </div>

    <div class="spectacle" id="pollutions">
        <dl class='artist'>
        <dd class="titre">Les pollutions lumineuses</dd>
            <dd>Compagnie Les&nbsp;viandes magnétiques</dd>
            <dt>Texte et projet</dt><dd>Jean-Baptiste Calame</dd>
    <dt class="vignette">
    <img src="img/laidout/perruque.png">
    </dt>
            <dd>Création théâtre</dd>
        </dl>
        <div class="spectacle-infos">
            <div class="date">Du 26 avril au 4 mai</div>
        </div>
    </div>

    <div class="spectacle" id="kunsten">
        <dl class='artist'>
        <dd class="titre">Kunsten&shy;festival&shy;des&shy;arts</dd>
        <div class="spectacle-infos">
            <div class="date">mai</div>
        </div>
    </div>

</div> -->



</article>

<!--
Colophon
-->
<article id="colophon">

    <h2>COLOPHON</h2>

    <dl class="bible">
        <dt>Éditeur responsable</dt><dd style="padding-top: 10px;">Fabien Dehasseler — avenue Félix Marchal 1, 1030 Bruxelles</dd>
        <dt>Photographie</dt>
        <dd>Pages 4–5, 10–11, 16–17, 22–23&#x202F;: Hichem&nbsp;Dahes<br/>
        <dt>Design graphique</dt><dd>Open Source Publishing</dd>
        <dt>Outils et programmes</dt><dd style="padding-top: 10px;">html2print, laidout, Inkscape, Gimp, Git, Etherpad, GNU/Linux</dd>
        <dt>Typographies</dt><dd>Famille UmeLoop, générée à partir de la famille Ume, avec la recette Fons et le logiciel GlyphTracer1.4</dd>
        <dt>Fichiers disponibles</dt><dd style="padding-top: 10px;">sous licence art libre sur &lt;osp.kitchen/work/balsamine.2015-2016&gt;</dd>
        <dt>Impression</dt><dd>Imprimerie Gillis, Bruxelles</dd>
    </dl>

</article>


<!--
ÉQUIPE
-->
<article id="equipe" class="region-break" >

    <h2>L'équipe</h2>
    <dl class="bible">
        <dt style="padding-top: 3px;">Monica Gomes et Fabien Dehasseler</dt>
        <dd style="padding-top: 28px;">Direction&nbsp;générale&nbsp;et&nbsp;artistique</dd>
        <dt>Laurent Henry</dt>
        <dd>Directeur administratif et&nbsp;financier</dd>
        <dt>Fanny Arvieu</dt>
        <dd>Coordination générale/​ <br/>Communication/​Accueil compagnies</dd>
        <dt>Fanny Amblard</dt>
        <dd>Presse/​Promotion/​<br />Relations publiques</dd>
        <dt>Noemi Tiberghien</dt>
        <dd style="padding-top: 10px;">Comédienne et romaniste/​Médiation écoles et associations</dd>
        <dt>Martine Wijckaert</dt>
        <dd>Metteur en scène et auteur/​<br />Artiste associée</dd>
        <dt>Jef Philips</dt>
        <dd>Directeur technique</dd>
        <dt>Rémy Urbain</dt>
        <dd>Régisseur</dd>
        <dt>Franck Crabbé</dt>
        <dd>Responsable bar</dd>
        <dt>Masira Idrissi</dt>
        <dd>Entretien</dd>
        <dt>Hichem Dahes</dt>
        <dd>Photographe associé</dd>
        <dt>Open Source Publishing</dt>
        <dd>Designers graphiques associés</dd>
    </dl>


</article>
<!--
NOTES
-->
<article id="page-titre">
<p>Notes</p>
<div class="cuivre">
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>

</div>
</article>

<article id="page-titre">
<p>Notes</p>
<div class="cuivre">
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>

</div>
</article>
<article id="page-titre">
<!-- <p>Notes</p>
<div class="cuivre">
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>
   <span>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span>

</div> -->
</article>

<!--
JAVASCRIPT
-->


<script>

    $(function() {
        // - - - - - - - - - - - - - - - - - S P R E A D E D    E L E M E N T S  - - - - - - - - - - - - - - - - //
        page_height = $("#page-1").height() + (parseInt($("#page-1").css("padding-top")) * 2);
        page_width = $("#page-1").width();

        // CALCULATES OFFSET OF LEFT MARGIN OF THE PAGE
        Xorigin = $("#page-2").offset().left  + parseInt($("#page-2").css("padding-left")) + parseInt($("#page-2 .body").css("padding-left"));
        console.log("Xorigin: " + Xorigin);

        $(".spreadit").each(function(){
            div_top = $(this).offset().top;
            page_nb = Math.floor(div_top / page_height) * 2;
            console.log("page_nb: " + page_nb);

            // IF CENTERED, CALCULATES OFFSET FROM HALF OF IMAGE WIDTH
            if($(this).hasClass("spreadit--centered")){
                div_left = page_width - ($("img", $(this)).width() / 2);
                $(this).css("left", div_left);

                // DETECTS IF PAGE ODD OR EVEN
                shift = -1 * (page_width - div_left);

                if (div_left > page_width) { page_nb += 1}
            }
            // OTHERWISE, IF OFFSET EQUALS 0 BUT IMAGE IS OVERFLOWING
            else if ($(this).offset().left == Xorigin) {
            //else {
                shift = -1 * page_width;
            } else {
                div_left = $(this).offset().left - Xorigin;
                shift = -1 * (page_width - div_left);
            }

            // MOVES THE SPREADED DIV INTO A .PAGE ELEMENT
            $(this).appendTo($("#page-" + page_nb + " .page")).addClass('spreaded');

            // CLONES THE SPREADED DIV INTO THE NEXT PAGE WITH AN OFFSET
            page_nb += 1;
            console.log("shift: " + shift);
            $(this).clone().addClass("spreaded").css("left", shift).appendTo($("#page-" + page_nb + " .page"));
        });

        // - - - - - - - - - - - - - - - - - T R A M E S  - - - - - - - - - - - - - - - - //
        // Entrée de jeu
        for (i = 1; i <= 3; i++){
            $("#page-" + i + " .trame img").attr("src", "/img/trames/vagues1-motif.svg");
        }

        // // Juste avant la nuit
        // for (i = 4; i <= 9; i++){
        //     $("#page-" + i + " .trame img").attr("src", "/img/trames/vagues3-motif.svg");
        // }

        // colonie
        for (i = 4; i <= 9; i++){
            $("#page-" + i + " .trame img").attr("src", "/img/trames/vagues3-motif.svg");
        }

        //eden
        for (i = 10; i <= 15; i++){
            $("#page-" + i + " .trame img").attr("src", "img/trames/vagues4-motif.svg");
        }

        // Ravages
        for (i = 16; i <= 21; i++){
            $("#page-" + i + " .trame img").attr("src", "/img/trames/vagues5-motif.svg");
        }

        // pollutions
        for (i = 22; i <= 27; i++){
            $("#page-" + i + " .trame img").attr("src", "/img/trames/vagues6-motif.svg");
        }
        // kunstfestival
        for (i = 28; i <= 28; i++){
            $("#page-" + i + " .trame img").attr("src", "/img/trames/vagues7-motif.svg");
        }
        // Balsatoiles
        for (i = 29; i <= 30; i++){
            $("#page-" + i + " .trame img").attr("src", "/img/trames/vagues8-motif.svg");
        }
        // Extras
        for (i = 31; i <= 35; i++){
            $("#page-" + i + " .trame img").attr("src", "/img/trames/vagues11-motif.svg");
        }

        // Infos pratiques
        for (i = 36; i <= 44; i++){
            $("#page-" + i + " .trame img").attr("src", "/img/trames/vagues2-motif.svg");
        }



         //EXPORT COULEURS
            $("html:not(export) .vignette img").each(function(){
                $(this).attr("src", $(this).attr("src").replace("laidout", "laidout"));
            });
    });

</script>
