<!--
PAGE DE TITRE
-->


<article id="page-titre">

    <p>Décembre 2015, janvier, février 2016</p>

    <h1 style="margin-bottom: 0;">Livret II</h1>


    <dl id="toc">
        <dt>Édito</dt><dd>page 3</dd>
        <dt>Juste avant la nuit</dt><dd>page 4</dd>
        <dt>Festival Noël au théâtre</dt><dd>page 12</dd>
        <dt>Cataclop Enzovoorts</dt><dd>page 16</dd>
        <dt>Fractal</dt><dd>page 22</dd>
        <dt>Side effects</dt><dd>page 28</dd>
        <dt>Revolt</dt><dd>page 34</dd>
        <dt>Nos Balsatoiles</dt><dd>page 38</dd>
        <dt>Extras</dt><dd>page 42</dd>
        <dt>Informations pratiques</dt><dd>page 44</dd>
        <dt>Calendrier</dt><dd>page 49</dd>
        <dt>Colophon</dt><dd>page 51</dd>
        <dt>Équipe</dt><dd>page 52</dd>
    </dl>

</article>




<!--
    ÉDITO
-->
<article id="edito">
<div class="region-break height0">&nbsp;</div>
<div class="region-break height0">&nbsp;</div>

    <p>
Tant  de choses ont changé déjà, à chaque instant le monde change, aussi il  n’est pas insensé que tout puisse changer encore. Au-delà de toutes les  crises qui nous tombent sur le dos et de l’impossibilité de les  surmonter qu’on nous sermonne à l’envi, les alternatives existent à  l’horizon. Encore faut-il à travers nos choix peser contre un modèle  économique qui bride et étouffe la vie en soi.
    </p>
    <p>
Ce  système n’est pas seulement violent — car on peut se révolter contre la  violence quand elle est extérieure et que sa cause est iden&shy;ti&shy;fi&shy;able —  ce système brise l’individu, le casse de l’intérieur, et détruit toute  forme de résistance. Tout semble faux et perverti. Tout le monde est  responsable et personne n’est coupable. Et finalement on ne sait plus ce  qui est la cause ou la conséquence du déclin. Voilà pourquoi rien ne  nous oblige encore à jouer le jeu. Occupons massivement les espaces  publics et privés  qui nous sont encore accessibles. Pensons, créons,  cultivons, échangeons, partageons. Affirmons la&nbsp;liberté dans ce qu’elle a  de plus exigeant, imposons l’éthique qui n’est pas négociable. 
    </p>
    <p>
Prenons  le temps de nous réapproprier notre démocratie, de partager nos gestes les plus simples, d’échanger nos pensées les plus vives. La croissance, à  cet endroit, peut se révéler exponentielle.
    </p>
 
    <footer>
        <p>
            Monica Gomes et Fabien Dehasseler<br/>
            Direction artistique
        </p>
    </footer>

</article>


<!-- 
    JUSTE AVANT LA NUIT
-->
<article id="juste-avant" class="spectacle">



<div class="spreadit" style="width: 188mm; top: 10mm; left: 10mm;">
    <img class="hichem" src="/img/web/cheval.jpg" data-alt-src="/img/hichem/cheval-livret.jpg" />
    <footer><div class="parties nature">Cheval au bord de l'eau</div></footer>
</div>

<div class="region-break height0">&nbsp;</div>
<div class="region-break height0">&nbsp;</div>
<div class="region-break height0">&nbsp;</div>


<div class="entete">
    <dl class="artist">
        <dd class="titre">JUSTE AVANT LA NUIT</dd>
        <dd>Compagnie Ives et Pony</dd>
        <dt>TEXTE ET CONCEPTION</dt>
        <dd>Jean Le Peltier</dd>
        <dt class="vignette">
            <img src="/img/laidout/basket.png" />
        </dt>

        <dd>Création théâtre</dd>
    </dl>
    <div class="spectacle-infos">
        <div class="dates">Du 1<sup>er</sup> au 5 décembre à 20h30</div>
        <div class="lieu">Studio</div>
    </div>
</div>


    <p>
    <em>Juste avant la nuit</em>, c’est une collaboration entre six artistes qui créent un jeu entre le récit et l’expérience réelle de nos sensations.
    </p>
    <p>
C’est également l’histoire d’un cheval, d’une cabane dans les bois, de visages en laine, d’une tête qui gonfle et de quatre amis. Et c’est, en soi, la rencontre entre cette histoire et ces gens qui ne racontent pas d’histoires mais fabriquent des objets&#x202F;; des gens qui dansent, tricotent, branchent des câbles et remplissent leur agenda. Des gens qui ne se connaissent pas.
    </p>
    <p>
    <em>Juste avant la nuit</em>, c’est tout cela et bien plus encore, une création qui cherche à&nbsp;rapprocher les matériaux profondément émotionnels de nos impressions avec les actions résolument concrètes de nos vies&#x202F;; histoire de décortiquer ces sensations individuelles et d’entrevoir l’endroit où elles deviennent collectives. Un peu comme dans un roman où les impressions de celui qui écrit et de celui qui lit se rencontrent dans de petites fulgurances heureuses.
    </p>
    <p>
    Après <em>Vieil</em>, une fable entre western et conte fantastique qui se raconte et se dessine à la fois, Jean Le Peltier s’entoure de précieux collaborateurs pour mieux peupler encore son imaginaire libertaire.
    </p>


<div class="region-break height0">&nbsp;</div>

    <dl class="bible">
        <dt>COMÉDIEN/AUTEUR</dt>
        <dd>Jean Le Peltier</dd>
        <dt>PERFORMER</dt>
        <dd>Jan Rohwedder</dd>
        <dt>DANSEUR</dt>
        <dd>Mohamed Boujara</dd>
        <dt>PLASTICIENS</dt>
        <dd>Stephan Goldrajch et&nbsp;Magali&nbsp;Lefebvre</dd>
        <dt>LIGHT DESIGNER</dt>
        <dd>Stine Hertel</dd>
    </dl>
    <div class="production">
        <p>
Une production du Label RITA en partenariat avec Rotterdam Presenta en coproduction avec le Théâtre la Balsamine, Le CPPC (Rennes), Au bout du plongeoir (Rennes), Les&nbsp;Fabriques (Nantes), Le Théâtre de Poche (Hédé), le FFT (Düsseldorf) et avec les soutiens du&nbsp;BRASS (Bruxelles) et du Volapük (Tours). 
        </p>

        <p>
            <em>Juste avant la nuit</em> en tournée&#x202F;:
            les 29 et&nbsp;30 janvier 2016 au Théâtre de Poche, Hédé (France)&#x202F;; 
            les 11 et 12 mars 2016 au FFT, Düsseldorf (Allemagne)&#x202F;;
            les 21 et 22 avril au&nbsp;Festival Mythos, Rennes (France).
        </p>
        <p>
Pour suivre l’actualité de la compagnie&#x202F;: www.ivesandpony.com
        </p>
    </div>




<!--AUTOUR DU SPECTACLE-->
<h3>AFTER-SHOW</h3>
<div class="spectacle-infos">
    <div class="date">le mercredi 2 décembre</div>
</div>
<p>
À l'issue de cette représentation, nous proposons un échange entre le public et l'équipe artistique. L'occasion pour les spectateurs d’interagir avec les artistes&#x202F;!
</p>

<h3>Slowdating</h3>
<div class="spectacle-infos">
    <div class="date">le samedi 5 décembre de 17h à 19h</div>
</div>
<p>
    Nous proposons un atelier pratique et accessible à tous avec Jean Le Peltier. Vous&nbsp;créerez à ses côtés un cadavre exquis géant et vivant&#x202F;! L’inscription à cet atelier est nécessaire car le&nbsp;nombre de places est limité et la participation est&nbsp;gratuite.
</p>

<div class="region-break height0">&nbsp;</div>

<div class="spreadit" style="width: 198mm; height: 200mm; top: 0mm; left: 0mm; z-index: -1;">
    <figure class="cuivre" style="top: 130px; left: -15px; position: relative;width: 100%; margin: 0; -webkit-transform: rotate(-90deg);">
        <img class="illu" style="object-fit: containt;" src="/img/trame narrative_Page_1.gif.cuivre.gif" data-alt-src="/img/trame narrative_Page_1.gif" />
        <footer>Trame narrative (document préparatoire)</footer>
    </figure>
</div>

<div class="region-break height0">&nbsp;</div>
<div class="region-break height0">&nbsp;</div>

<div class="spreadit" style="width: 198mm; height: 200mm; top: 0mm; left: 0mm; z-index: -1;">
    <figure class="cuivre" style="top: 130px; left: -15px; position: relative; width: 100%;  margin: 0; -webkit-transform: rotate(-90deg);">
        <img class="illu" style="object-fit: contain;" src="/img/trame narrative_Page_2.gif.cuivre.gif" data-alt-src="/img/trame narrative_Page_2.gif" />
        <footer>Trame narrative (document préparatoire)</footer>
    </figure>
</div>

</article>


<!-- 
    NOËL AU THÉÂTRE
-->
<article id="noel" class="spectacle">
<div class="region-break height0">&nbsp;</div>
<div class="region-break height0">&nbsp;</div>

    <div class="entete">
        <dl class="artist">
            <dd class="titre">FESTIVAL NOËL AU THÉÂTRE</dd>
            <dt class="vignette">
                <img src="img/laidout/frog.png" />
            </dt>
        </dl>

        <div class="spectacle-infos">
            <div class="date">Du 26 au 30 décembre</div>
        </div>
    </div>
    <p style="clear: both;">
La création «&#x202F;jeune public&#x202F;» est dans tous ses états à l’occasion du Festival Noël au Théâtre : des spectacles, des créations, des chantiers, des lectures et plusieurs animations débarquent du 26 au 30 décembre à Bruxelles. La Balsamine accueille le festival et ouvre grandes ses portes à la magie et la chaleur du théâtre pour tous.
    </p>

    <figure class="cuivre">
        <img src="img/noel-au-theatre-grenouille_cuivre.jpg" data-alt-src="img/noel-au-theatre-grenouille_black.jpg" />
    </figure>

<div class="region-break height0">&nbsp;</div>

    <div class="entete">
        <dl class="artist">
            <dd>La Berlue</dd>
            <dd class="titre">L'OGRELET</dd>
            <dt>8–12 ans</dt>
            <dd>Théâtre</dd>
        </dl>
    </div>

<div class="spectacle-infos">
    <div>Le 26 décembre à 14h </div>
    <div class="date">et le 27 décembre à 16h</div>
</div>

<p>
L’Ogrelet vit seul avec sa maman au fond des bois, isolé du monde. Il a six ans. Cet enfant est grand, vraiment très grand pour son âge. C’est le jour de la rentrée scolaire et l’enfant est impatient de découvrir le monde. À l'école, il prend rapidement conscience qu’il est différent des autres enfants. Il porte en lui un lourd héritage que sa mère lui apprend enfin. Il est fils d’ogre. À travers ce «&#x202F;classique&#x202F;» de Suzanne Lebeau, nous explorons les pulsions de bien et de mal, l’amour protecteur et le libre arbitre, l’espace entre la réussite et l'échec… Un conte moderne tout en contrastes et en nuances, d’une richesse thématique inépuisable.
</p>

<figure class="cuivre" style="margin-left: 0; margin-right: 0;">
        <img src="img/LA_BERLUE_Ogrelet_8.1-Paul Decleire.JPG.cuivre.jpg" data-alt-src="img/LA_BERLUE_Ogrelet_8.1-Paul Decleire.JPG.black.jpg" />
        <footer>© Paul Decleire</footer>
    </figure>

<div class="region-break height0">&nbsp;</div>

<dl class="bible">
    <dt>AUTEUR</dt>
    <dd>Suzanne Lebeau</dd>
    <dt>MISE EN SCÈNE</dt>
    <dd>Paul Decleire</dd>
    <dt>INTERPRÉTATION</dt>
    <dd>François Gillerot, Violette&nbsp;Léonard</dd>
    <dt>SCÉNOGRAPHIE/COSTUMES</dt>
    <dd>Thibault Vancraenenbroeck</dd>
    <dt>CONSTRUCTION</dt>
    <dd>Guy Carbonnelle, Thibault&nbsp;Vancraenenbroeck</dd>
    <dt>ACCESSOIRES/MARIONNETTES/MASQUE</dt>
    <dd>Charlotte Marembert</dd>
    <dt>ÉCLAIRAGES/RÉGIE</dt>
    <dd>Benoît Lavalard</dd>
    <dt>MUSIQUE ORIGINALE</dt>
    <dd>David Callas</dd>
    <dt>ENVIRONNEMENT SONORE</dt>
    <dd>Quentin Jacques</dd>
    <dt>EFFETS SPÉCIAUX</dt>
    <dd>Fred Postiau</dd>
    <dt>ASSISTANAT À LA MISE EN SCÈNE/VOIX</dt>
    <dd>Lara Hubinont</dd>
</dl>

<div class="production">
    <p>
    Accueil en résidence à la Montagne magique, à&nbsp;la Roseraie, à la Maison des Cultures et&nbsp;de&nbsp;la&nbsp;Cohésion Sociale de Molenbeek. <br/>Accueil en création au CDWEJ. <br/>Avec le soutien du théâtre de Galafronie et du&nbsp;Centre culturel de Braine-l’Alleud. <br/>Réalisé avec le soutien de la Fédération Wallonie-Bruxelles — Service du Théâtre et de la Commission communautaire française — Service du Théâtre. 
    </p>
    <p>
Pour suivre l’actualité de la compagnie La Berlue&#x202F;: www.laberlue.be
    </p>
</div>





<div class="region-break height0">&nbsp;</div>

    <div class="entete">
        <dl class="artist">
            <dd>Théâtre de l'E.V.N.I<br/>Esprit Volant Non Identifié</dd>
            <dd class="titre">Alibi</dd>
            <dt>À partir de 8 ans</dt>
            <dd>Danse</dd>
        </dl>
    </div>

<div class="spectacle-infos">
    <div>Le 28 décembre à 14h </div>
    <div class="date">et le 29 décembre à 16h</div>
</div>

<blockquote>
    «&#x202F;Il fait chaud. <em>Déboutonne son veston.</em> Voilà, comme ça c'est mieux. Ahhh… <em>Pose la mallette.</em> Quelle heure est-il&#x202F;? Depuis combien de temps je suis là&#x202F;? <em>Regards droite/gauche.</em> J'ai faim, je voudrais acheter quelque chose à manger. Non, c'est pas grave, je vais rester là, je suis bien. <em>S'assied.</em> Je n'ai pas faim. Il fait si calme. <em>Se couche.</em> Je suis un oiseau.&#x202F;»
</blockquote>

<dl class="bible">
    <dt>CRÉATION</dt>
    <dd>Fujio Ishimaru, Sophie Leso, Nicolas&nbsp;Arnould</dd>
    <dt>INTERPRÉTATION</dt>
    <dd>Fujio Ishimaru, Sophie Leso</dd>
    <dt>LUMIÈRES</dt>
    <dd>Christian Halkin</dd>
    <dt>MUSIQUES</dt>
    <dd>Nicolas Arnould, Tom Waits, Sigur Rós</dd>
    <dt>COLLABORATION ARTISTIQUE</dt>
    <dd>Colin Jolet, Nuno&nbsp;Nunes</dd>
    <dt>CHARGÉ DE PRODUCTION</dt>
    <dd>Philippe Jolet</dd>
</dl>

<div class="production">
    Le spectacle a reçu le Prix de la Ville de Huy et un Coup de cœur de la Presse aux Rencontres de Huy 2015. 
</div>

    <figure class="cuivre">
        <img src="img/EVNI_Alibi-14-Valérie Burton.jpg.cuivre.jpg" data-alt-src="img/EVNI_Alibi-14-Valérie Burton.jpg.black.jpg"/>
        <footer>© Valérie Burton</footer>
    </figure>
</article>


<!-- 
    CATACLOP ENZOVOORTS
-->
<article id="cataclop" class="spectacle">

<div class="region-break height0">&nbsp;</div>

<div class="spreadit" style="width: 188mm; top: 10mm; left: 10mm;">
    <img class="hichem" src="/img/web/lorette.jpg" data-alt-src="/img/hichem/lorette-livret.jpg" />
    <footer><div class="parties nature">Tartine et vanité</div></footer>
</div>

<div class="region-break height0">&nbsp;</div>
<div class="region-break height0">&nbsp;</div>


<div class="entete">
    <dl class="artist">
        <dd class="titre">CATACLOP ENZOVOORTS</dd>
        <dt>Mise en scène</dt><dd>Lorette Moreau</dd>
        <dt class="vignette">
            <img src="/img/laidout/oiseau.png">
        </dt>
        <dd>Création théâtre</dd>

    </dl>
    <div class="spectacle-infos">
        <div class="date">Du 8 au 15 janvier à 20h30 (relâche&nbsp;dimanche)</div>
    </div>
</div>

    <p>
    <em>Cataclop enzovoorts</em> est une proposition hétéroclite, ludique et décalée autour du thème de l’héritage. Construit à partir de trois citations extraites du répertoire théâtral et de résultats, à moitié bien compris, d’une enquête sociologique sur les publics, ce spectacle prend la forme d’un parcours performatif qui interroge les racines, le langage et la relation artiste-public.
    </p>
    <p>
Une pièce incongrue où les performeurs comme les spectateurs s’interrogent sur ce qu’ils attendent du théâtre, quels sont leurs espoirs, leurs exigences ou leurs motivations. Pourquoi se sont-ils, les uns et les autres, donnés rendez-vous ce soir&#x202F;?
    </p>
    <p>
Après avoir présenté une première étape de travail lors de la dernière édition des Laboréales, Lorette Moreau et son équipe approfondissent leur enquête sur le rapport que spectateurs et créateurs entretiennent avec la tradition théâtrale.
    </p>


<div class="region-break height0">&nbsp;</div>

    <dl class="bible">
        <dt>CONCEPTION</dt>
        <dd>Lorette Moreau</dd>
        <dt>ASSISTANAT</dt>
        <dd>Céline Estenne</dd>
        <dt>DE ET AVEC</dt>
        <dd>Lorette Moreau, Michiel Soete et&nbsp;Sophie Vanhulst</dd>
        <dt>COACHING MOUVEMENT</dt>
        <dd>Natacha Nicora</dd>
        <dt>COACHING SON</dt>
        <dd>Max Vandervorst</dd>
        <dt>Création Lumière et régie générale</dt>
        <dd>Laurence Magnée</dd>
        <dt>COLLABORATION ARTISTIQUE</dt>
        <dd style="padding-top: 7px;">Grand Magasin, Anne&nbsp;Thuot et Peter Vandenbempt</dd>
        <dt>Recherche graphique                </dt>
        <dd>Lisa Gilot et Robin Yerlès</dd>
    </dl>
    <div class="production">
        <p>
Une création en coproduction avec le Théâtre la Balsamine avec le soutien de la Cocof, du Théâtre des Doms, les Laboréales (dispositif de soutien à la jeune création trans&shy;disci&shy;plinaire initié par le Manège.mons en partenariat avec le Cifas, le&nbsp;Centre des Arts Scéniques, Buda Kunstcentrum, la Bellone et la Balsamine), le&nbsp;Théâtre du Corridor, le&nbsp;Vooruit, les Fonds Prince Philippe — Jeunes&nbsp;artistes sans frontières (Fondation Roi&nbsp;Baudouin).
        </p>
        <p>
Pour suivre l’avancement du projet: www.cataclopenzovoorts.be
        </p>
    </div>

<div class="region-break height0">&nbsp;</div>

    <!-- AUTOUR DU SPECTACLE -->
    <h3>AFTER-SHOW</h3>
    <div class="spectacle-infos">
        <div class="date">le samedi 9 janvier</div>
    </div>
    <p>
À l'issue de cette représentation, nous proposons un échange entre le public et l'équipe artistique. L'occasion pour les spectateurs d’interagir avec les artistes!
    </p>



<h3>Slowdating</h3>
    <div class="spectacle-infos">
        <div class="date">le samedi 9 janvier de 17h à 19h</div>
    </div>
    <p>
Nous proposons un atelier pratique, gratuit et accessible à tous avec Lorette Moreau. Réservation obligatoire car jauge limitée.
    </p>

    <figure class="cuivre" style="margin-top: 25pt; margin-left: 0; margin-right: 0;">
        <img src="img/Laboreales3.JPG.cuivre.jpg" data-alt-src="img/Laboreales3.JPG.black.jpg"/>
        <footer>© D.R.</footer>
    </figure>


</article>





<!--
    FRACTAL
-->
<article id="fractal" class="spectacle">

<div class="region-break height0">&nbsp;</div>
<div class="region-break height0">&nbsp;</div>

<div class="spreadit" style="width: 188mm; top: 10mm; left: 10mm;">
    <img class="hichem" src="/img/web/Clément3.jpg" data-alt-src="/img/hichem/Clément3-livret.jpg" />
    <footer><div class="parties nature">Nature morte au chou rouge</div></footer>
</div>

<div class="region-break height0">&nbsp;</div>
<div class="region-break height0">&nbsp;</div>


<div class="entete">
    <dl class="artist">
        <dd class="titre">FRACTAL</dd>
        <dt>CHORÉGRAPHIE</dt><dd>Clément Thirion</dd>
        <dt class="vignette">
            <img src="img/laidout/chou.png" />
        </dt>
        <dd>Création danse</dd>
    </dl>
    <div class="spectacle-infos">
        <div class="date">Du 2 au 5 février à 20h30</div>
        <div class="lieu">Amphithéâtre</div>
    </div>
</div>

    <p>
    Dans <em>Fractal</em>, un individu décide de sonder l’infini de l’espace dans l’espoir de capter un signal extraterrestre. Pourquoi&#x202F;? Sans doute pour obéir à une sorte d’instinct qui nous pousse, chacun, à chercher l’Autre, inlassablement, autour de nous. L’espoir fait vivre, dit-on. Mais qui sont les extraterrestres&#x202F;? Impossible de le savoir. D’ailleurs rien n’indique qu’il y ait quelqu’un d’autre dans l’immensité cosmique. Dès lors, l’Humanité a plus de chances de s’éteindre seule que de rencontrer le troisième type.
    </p>
    <p>
    Liant la parole, la musique et la cho&shy;ré&shy;graphie, <em>Fractal</em> développe la poétique d’un univers mathématique et métaphorique, où tout mouvement vers l’Autre n’est qu’un trajet vers soi. L’espace-temps de la représentation, son terrain de jeu, est cette zone qui caractérise l’être humain, située entre le microscopique et le macroscopique, le futile et le primordial, l’utopie et la réalité, l’individu et la communauté. Une&nbsp;communauté convoquée ici grâce à un groupe de 25 danseurs. Leurs corps, guidés par la rigueur de la géométrie, entament une marche à la fois complexe, hypnotique, aliénante et absurde, oscillant entre profonde nécessité et pure&nbsp;vacuité.
    </p>

<div class="region-break height0">&nbsp;</div>

    <dl class="bible">
        <dt>DIRECTION, INTERPRÉTATION ET CHORÉGRAPHIE</dt>
        <dd>Clément Thirion</dd>
        <dt>ASSISTANTE/COLLABORATRICE ARTISTIQUE</dt>
        <dd>Coraline&nbsp;Clément</dd>
        <dt>Danseurs</dt>
        <dd>Distribution en cours</dd>
        <dt>MUSIQUE</dt>
        <dd>Thomas Turine</dd>
        <dt>Vidéo</dt>
        <dd>Robin Yerlès</dd>
        <dt>Production/diffusion</dt>
        <dd>Vanessa Vallée</dd>
    </dl>
    <div class="production">
        <p>
        Une production de kosmocompany en coproduction avec le Théâtre de Namur, le&nbsp;Théâtre la&nbsp;Balsamine, Charleroi Danses, le&nbsp;Théâtre de Vanves (France), avec les soutiens de la Fédération Wallonie-Bruxelles – Service de la danse  et du Centre des Arts Scéniques, les Laboréales, la&nbsp;Fabrique de Théâtre et en partenariat avec ISAC, ARTS² (Conservatoire de Mons). <br/>Un&nbsp;projet accompagné par l’Observatoire de l’Espace — le laboratoire Arts-Science du&nbsp;CNES.
        </p>
        <p>
    Pour suivre l’actualité de la compagnie&#x202F;: www.kosmocompany.net
        </p>
    </div>

<div class="region-break height0">&nbsp;</div>


    <!--AUTOUR DU SPECTACLE-->
    <h3>AFTER-SHOW</h3>
    <div class="spectacle-infos">
        <div class="date">le mercredi 3 février</div>
    </div>
    <p>
À l'issue de cette représentation, nous proposons un échange entre le public et l'équipe artistique. L'occasion pour les spectateurs d’interagir avec les artistes&#x202F;! 
    </p>
<figure class="cuivre" style="margin-top: 25pt;">
    <img class="illu" src="/img/fractal2.png.cuivre.png" data-alt-src="/img/fractal2.gif" />
    <footer>Dessin&#x202F;: Clément Thirion</footer>
</figure>

<div class="region-break height0">&nbsp;</div>


</article>






<!-- 
    SIDE EFFECTS
-->
<article id="side-effects" class="spectacle">
<div class="region-break height0">&nbsp;</div>

<div class="spreadit" style="width: 188mm; top: 10mm; left: 10mm;">
    <img class="hichem" src="/img/web/brume_cheveux.jpg" data-alt-src="/img/hichem/brume_cheveux-livret.jpg" />
    <footer><div class="parties nature">Brume et cheveux</div></footer>
</div>

<div class="region-break height0">&nbsp;</div>
<div class="region-break height0">&nbsp;</div>


<div class="entete">
    <dl class="artist">
        <dd class="titre">SIDE EFFECTS</dd>
        <dd>Compagnie Anton Lachky</dd>
        <dt>CHORÉGRAPHIE</dt>
        <dd>Anton Lachky</dd>
        <dt class="vignette">
            <img src="img/laidout/medocs.png" />
        </dt>
        <dd>Danse</dd>
    </dl>
    <div class="spectacle-infos">
        <div class="date">Du 16 au 19 février à 20h30</div>
        <div class="lieu">Amphithéâtre</div>
    </div>
</div>

    <p>
    <em>Side effects</em> est une chorégraphie surréaliste qui se déroule dans l'esprit d'une femme délirante. La&nbsp;réalité qu'elle s'invente, sa relation au monde et sa connexion aux autres suivent des règles qui n'ont de sens que pour elle. Chaque séquence apparaît comme l'effet secondaire d'une réalité purement vécue. Profondément seule, son univers n’est composé que de sujets sans volonté, dévoilant ainsi sa profonde fragilité.
    </p>
    <p>
Anton Lachky ancre sa nouvelle création dans une époque où la soif de monstruosité est omniprésente et où la stupidité est encensée. Ici,&nbsp;on devine que les quatre personnages de la pièce sont de simples mirages issus d'une famille dysfonctionnelle, d'une secte occulte, d'une réalité lointaine.
    </p>
    <p>
    La chorégraphie précédente d’Anton Lachky, <em>Mind a Gap</em>, a tourné dans le monde entier. Pour <em>Side effects</em>, il s’est une nouvelle fois entouré de quatre danseurs remarquables afin de créer avec subtilité un spectacle énergisant, drôle et inquiétant.
    </p>



<div class="region-break height0">&nbsp;</div>

<dl class="bible">
    <dt>CHORÉGRAPHIE</dt>
    <dd>Anton Lachky</dd>
    <dt>AVEC</dt>
    <dd>Milan Herich, Patricia Rotondaro, Sara Sguotti, Csaba Varga</dd>
    <dt>CRÉATION LUMIÈRES</dt>
    <dd>Joris De Bolle </dd>
    <dt>CRÉATION SON</dt>
    <dd>Tom Daniels </dd>
    <dt>COSTUMES</dt>
    <dd>Britt Angé</dd>
</dl>
<div class="production">
    Une production de Seventyseven vzw en coproduction avec Charleroi Danses, Centre Chorégraphique de la Fédération Wallonie-Bruxelles, avec le soutien du Théâtre la Balsamine, de la Vlaamse Gemeenschap Commissie et de la Fédération Wallonie-Bruxelles — Service de la Danse.
</div>

<figure class="cuivre">
    <img style="max-width: 166px;" class="illu" src="/img/sideEffects1.jpg.cuivre.jpg" data-alt-src="/img/sideEffects1.jpg.black.jpg" />
    <footer>© Joris De Bolle</footer>
</figure>


<div class="region-break height0">&nbsp;</div>

<!--AUTOUR DU SPECTACLE-->
<h3>AFTER-SHOW</h3>
<div class="spectacle-infos">
    <div class="date">le mercredi 17 février</div>
</div>
<p>
À l'issue de cette représentation, nous proposons un échange entre le public et l'équipe artistique. 
L’occasion pour les spectateurs d’interagir avec les artistes&#x202F;!
</p>

<figure class="cuivre">
    <img class="illu" src="/img/sideEffects2.jpg.cuivre.jpg" data-alt-src="/img/sideEffects2.jpg.black.jpg" />
    <footer>© Joris De Bolle</footer>
</figure>


<div class="region-break height0">&nbsp;</div>



</article>


<!--
    REVOLT
-->
<article id="revolt" class="spectacle">

<div class="region-break height0">&nbsp;</div>

<div class="spreadit" style="width: 188mm; top: 10mm; left: 10mm;">
    <img class="hichem" style="object-fit: cover;" src="/img/_MG_10852.jpg.vert.jpg" data-alt-src="/img/_MG_10852.jpg" />
    <footer><div class="parties nature"></div></footer>
</div>

<div class="region-break height0">&nbsp;</div>
<div class="region-break height0">&nbsp;</div>


<div class="entete">
    <dl class="artist">
        <dd class="titre">REVOLT</dd>
        <dd>Compagnie Thor</dd>
        <dt>CHORÉGRAPHIE</dt>
        <dd>Thierry Smits</dd>
        <dt class="vignette">
            <img src="img/laidout/colson.png" />
        </dt>
        <dd>Danse</dd>
    </dl>

    <div class="spectacle-infos">
        <div class="date">Du 24 au 27 février à 20h30</div>
    </div>
</div>

    <p>
En écho aux mouvements de contestation actuels, et plus particulièrement ceux portés par des femmes, Thierry Smits crée avec Nicola Leahey une chorégraphie puissante et obsessionnelle sur l'insubordination et la nécessité de révolte. Une chorégraphie qui nous renvoie à l'oppression du corps — féminin d'abord, 
puis à la révolte nécessaire pour y échapper et&nbsp;à&nbsp;la liberté qu’il y a à trouver.
    </p>

<figure class="cuivre" style="margin-top: 25pt; margin-left: 0; margin-right: 0;">
    <img class="illu" src="/img/l_1440_958_revolt--hichem-dahes-72dpi---6.jpg.cuivre.jpg" data-alt-src="/img/l_1440_958_revolt--hichem-dahes-72dpi---6.jpg.black.jpg" />
    <footer>© Hichem Dahes</footer>
</figure>

    <div class="region-break height0">&nbsp;</div>

    <dl class="bible">
        <dt>CHORÉGRAPHIE</dt>
        <dd>Thierry Smits</dd>
        <dt>DANSEUSE</dt>
        <dd>Nicola Leahey</dd>
        <dt>ASSISTANT À LA CHORÉGRAPHIE</dt>
        <dd style="padding-top: 7px;"><br/>Lucius Romeo‑Fromm</dd>
        <dt>MUSIQUE</dt>
        <dd>Maxime Bodson</dd>
        <dt>COSTUME</dt>
        <dd>Mina Ly</dd>
        <dt>CRÉATION LUMIÈRES ET COORDINATION TECHNIQUE</dt>
        <dd>Gilles Brulard</dd>
        <dt>RÉGIE SON</dt>
        <dd>Jean-François Lejeune</dd>
        <dt>DURÉE</dt>
        <dd>50 minutes</dd>
    </dl>
    <div class="production">
Une production de la Compagnie Thor avec l'aide de Charleroi Danses, avec le soutien du Ministère de la Culture de la Fédération Wallonie-Bruxelles, de Wallonie-Bruxelles International et de Wallonie-Bruxelles Théâtre/Danse.
    </div>


    <!--AUTOUR DU SPECTACLE-->
    <h3>AFTER-SHOW</h3>
    <div class="spectacle-infos">
        <div class="date">    le mercredi 25 février</div>
    </div>
    <p>
        À l'issue de cette représentation, nous proposons un échange entre le public et l'équipe artistique. 
L’occasion pour les spectateurs d’interagir avec les artistes&#x202F;! 
    </p>


</article>

<!--
    BALSATOILES
-->
<article id="balsatoiles" class="region-break">
    <h1>Nos Balsatoiles</h1>
    <p>
    Le temps de 6 mercredis, et ce tout au long de la saison théâtrale, la Balsa se transforme en cinéma de quartier. L’ouverture à autrui est devenue un lieu commun. Or il n’y a rien de plus difficile à réaliser. Donc, derrière l’idée de s’enfiler des films d’auteurs, des films d’a­ni­ma­tion, des séries B et Z, il y a une autre idée qui tient de la cohésion sociale, de proposer une pause autour d’un bon film et d’en débattre. Approfondir nos liens avec vous, avec nos créations scéniques et d’autres arts majeurs, voilà, donc, la&nbsp;belle ambition de ce ciné-club improvisé. <br /><br />Entrée libre mais réservation souhaitée&#x202F;!
    </p>

<div class="region-break height0">&nbsp;</div>
    <!--PROGRAMMATION-->
    <h3 class="date">MERCREDI 2 décembre</h3>


    <h4 class="heure">15H30&#x202F;: SÉANCE JEUNE PUBLIC À PARTIR DE 5 ANS</h4>
    <h5><em>Le Garçon et le monde</em>, Alê Abreu, Brésil, 2013,&nbsp;80'</h5>

<figure class="cuivre">
    <img class="illu" src="/img/le garçon et le monde ok.jpg.cuivre.jpg" data-alt-src="/img/le garçon et le monde ok.jpg.black.jpg" />
    <footer>© D.R.</footer>
</figure>

    <p>
À la recherche de son père, un garçon quitte son village et découvre un monde fantastique dominé par des animaux-machines et des êtres étranges. Un voyage lyrique et onirique illustrant avec brio&nbsp;les problèmes du monde moderne à travers le&nbsp;regard d’un enfant. 
    </p>
    <div class="production" style="margin-top: 12.5pt;">
    <p>
Cristal du long métrage et prix du public au&nbsp;Festival d’Annecy 2014.
    </p>
    </div>


<div class="region-break height0">&nbsp;</div>
    <h4 class="heure">18H&#x202F;: SÉANCE TOUT PUBLIC À PARTIR DE 10 ANS</h4>
    <h5><em>Le Ballon blanc</em>, Jafar Panahi, Iran, 1995, VO&nbsp;sous-titres FR, 85’</h5>

<figure class="cuivre">
    <img class="illu" src="/img/ballon-blanc-1995-ok ok-g.jpg.cuivre.jpg" data-alt-src="/img/ballon-blanc-1995-ok ok-g.jpg.black.jpg" />
    <footer>© D.R.</footer>
</figure>

    <p>
En Iran, le 21 mars marque le début du printemps, mais aussi celui de la nouvelle année. Razieh, une petite fille de 7 ans, veut un poisson rouge pour les fêtes, comme il est de coutume. Avec le billet que lui donne sa mère, elle court l'acheter en ville. Mais dans les rues bondées, Razieh perd son argent. Dans sa quête, elle fait de multiples rencontres…
    </p>
    <p>
    <em>Le Ballon blanc</em> a reçu la Caméra d'Or au Festival de Cannes en 1995. Réalisateur de renom, Jafar Panahi est l'un des principaux cinéastes indépendants de l'Iran.
    </p>
    <blockquote>
        «&#x202F;Une nouvelle fois, avec ce <em>Ballon blanc</em> accroché à quelques bouts de ficelles, le&nbsp;cinéma iranien émerveille. De&nbsp;l'infiniment petit à l'infiniment grand.&#x202F;»
        <footer>Vincent Rémy, <em>Télérama</em></footer>
    </blockquote>



<div class="region-break height0">&nbsp;</div>
    <h3 class="date">MERCREDI 3 février</h3>
    
    <h4 class="heure">16H30&#x202F;: SÉANCE JEUNE PUBLIC À PARTIR DE 10 ANS</h4>
    <h5><em>MAX ET LES MAXIMONSTRES / WHERE THE WILD THINGS ARE</em>, Spike Jonze, USA, 2009 </h5>

<figure class="cuivre">
    <img class="illu" src="/img/max  et les maximonstres ok ok.jpg.cuivre.jpg" data-alt-src="/img/max  et les maximonstres ok ok.jpg.black.jpg" />
    <footer>© D.R.</footer>
</figure>

    <p>
Max, un garçon sensible et exubérant qui se sent incompris chez lui, s’évade là où se trouvent les maximonstres. Il atterrit sur une île où il rencontre de mystérieuses et étranges créatures, aux émotions sauvages et aux actions imprévisibles. Les maximonstres attendent désespérément un leader pour les guider, et Max rêve d’un royaume sur lequel régner. Lorsque Max est couronné roi, il promet de créer un monde où chacun trouvera le bonheur. Max découvre vite toutefois que régner sur un royaume n’est pas chose aisée et que ses relations avec les autres sont plus compliquées qu’il ne l’imaginait au départ…
    </p>
</article>

<article id="extras" class="spectacle">
    <h1>Extras</h1>

    <h2>Le banquet des&nbsp;réfugiés</h2>
    <h3 class="date">Le 23 janvier à 18h, foyer</h3>
    <h4 class="heure">
 Une initiative de Marie-Hélène Rabier, une&nbsp;citoyenne schaerbeekoise
    </h4>



    <p>
Qu’est-ce qu’un banquet&#x202F;? 
Selon la définition, c’est «&#x202F;un repas d’apparat où sont conviées de nombreuses personnes pour célébrer un événement&#x202F;».
Dans  notre intention, le&nbsp;repas d’apparat sera une grande auberge espagnole  et les personnes conviées, des citoyens ainsi que des réfugiés (ou&nbsp;demandeurs d’asile), tous curieux les uns des autres, désirant célébrer  leur rencontre. Faire connaissance, nous croiser, eux de là-bas, et nous  d’ici, nous parler, prendre un repas ensemble…
    </p>
    <p>
Ce  qu’on appelle, aujourd’hui, la «&#x202F;crise des&nbsp;réfugiés&#x202F;», mais qui pourrait  peut-être s’appeler la «&#x202F;crise de l’hospitalité&#x202F;» provoque des vagues  dans notre opinion publique&#x202F;: d’un côté un mouvement citoyen d’accueil  comme il y en a eu peu en Belgique, de l’autre, deci delà, une  surenchère xénophobe inquiétante.
    </p>
    <p>
Provoquée  par l’ignorance et la peur, il&nbsp;est&nbsp;nécessaire d’aller à la rencontre de  cette dernière attitude, pour éviter des drames, et s’il est possible,  la devancer en tissant des liens.
Car les demandeurs d’asile sont bien là&#x202F;: certains obtiendront le statut de réfugiés, et nous allons donc coexister. 
    </p>
    <p>
    C’est ainsi qu’est née, à la fin d’un été bouleversé par leur arrivée au parc Maximilien, l’idée d’organiser un <em>banquet des réfugiés</em>. 
    </p>

   
<div class="region-break height0">&nbsp;</div>

    <div class="production">
        En pratique&#x202F;:<br/>
        Chacun, quelle que soit son origine, apporte un plat de sa culture pour quatre personnes&#x202F;; les boissons seront accessibles à&nbsp;bas prix au&nbsp;bar du théâtre.<br/>
Réservation indispensable pour une organisation optimale.
    </div>
 

    <h2 style="margin-top: 37.5pt;">Stage de théâtre pour enfants (de 9 à 13 ans)</h2>
    <h3 class="date">Du 8 au 12 février de 9h à 17h30</h3>
    <h4>Dirigé par 2 comédiennes professionnelles, Élena Perez et Lise Wittamer</h4>
    <p>
Construire  un personnage. Sur base d’histoires référentielles ou de héros  symboliques puisés dans la mythologie, le répertoire classique ou&nbsp;moderne, ou simplement dans le quotidien&#x202F;; qu’ils&nbsp;soient réels ou  imaginaires, ils seront le socle de cette recherche où travestissement  rimera avec divertissement.
    </p>
 
    <div class="production" style="margin-top: 12.5pt;">
        En pratique&#x202F;:<br/>
        Prix&#x202F;: 70&#x202F;€<br/>
        Réduction de 20&#x202F;€ pour les schaerbeekois.<br/>
Réservation et paiement indispensable avant&nbsp;le 5 février.
    </div>
</article>




<!--
INFOS PRATIQUES
-->

<article id="infos-pratiques">
<h1>Informations pratiques</h1>

<h2>BILLETTERIE</h2>

<h3>RÉSERVATIONS</h3>
<h4>Par téléphone</h4>
<p>
Le bureau des réservations est joignable au 02&nbsp;735&nbsp;64&nbsp;68, du lundi au vendredi, de 14h à 18h, la Balsamine prend vos réservations ou vous donne des renseignements complémentaires. En dehors de ces heures et le week-end, un répondeur prend vos réservations.
</p>

<h4>Par e-mail</h4>
<p>
En envoyant un e-mail à l’adresse &lt;reservation@balsamine.be&gt; en précisant votre nom&nbsp;et votre prénom, le nom du spectacle, la date de re&shy;pré&shy;sen&shy;ta&shy;tion, le(s) tarif(s) dont vous bénéficiez et le nombre de places souhaitées. Un e-mail de confirmation vous sera ensuite renvoyé.
</p>
<h4>Par le site internet</h4>
<p>
Accessible 24h/24, vous pouvez cliquer sur le lien «&#x202F;réserver&#x202F;» présent sur chaque page de spectacle du site et compléter le formulaire. Un e-mail de con&shy;fir&shy;ma&shy;tion vous sera ensuite envoyé. Cette réservation en ligne concerne à la fois les places au tarif prévente mais aussi les places qui ne seront payées que le soir de votre venue.
</p>



<h3 class="region-break">MOYENS DE PAIEMENT ET&nbsp;RETRAIT&nbsp;DES&nbsp;PLACES</h3>

<h4>PRÉVENTES</h4>
<p>
Par virement bancaire au numéro de compte suivant:
IBAN BE15 0680 6267 2030 — BIC GKCCBEBB </br>
Pour bénéficier du tarif prévente, le paiement doit avoir lieu 48h avant la date de représentation choisie. Pour les virements, le paiement doit être effectué 5 jours à l’avance. Nous vous remercions d’indiquer en communication votre nom, votre prénom, la date de représentation choisie et le numéro de réservation qui vous a été communiqué soit par e-mail, soit par téléphone.
</p>

<h4>SUR PLACE</h4>
<p>
La billetterie est ouverte les soirs de représentation à&nbsp;partir de 19h.</br>Paiement cash, bancontact et visa.</br>
Quel que soit le moyen de réservation ou de paiement, les places (jetons d'entrée) sont à retirer à la billetterie le soir-même de la représentation. À partir de 20h15, les&nbsp;places non retirées et non payées sont sus&shy;cep&shy;ti&shy;bles d’être remises en vente&#x202F;! Au cas où les re&shy;pré&shy;sen&shy;ta&shy;tions sont <em>sold out</em>, sachez que nous ouvrons des listes d'attente sur place dès l'ouverture des portes.
</p>

<h4>ACCÈS AU SPECTACLE </h4>
<p>
Toutes les  représentations débutent à&nbsp;20h30 à&nbsp;l’ex&shy;cep&shy;tion des spectacles du  Festival Noël au Théâtre.
</p>



    <h3 class="region-break">Prix des places</h3>

    <div id="tarifs">
        <div class="tarif">
            <div>Tarif plein</div>
            <div class="prix">15&#x202F;€</div>
            <div class="arrow"> → </div>
        </div>
        <div class="tarif">
            <div>Prévente </div>
            <div class="prix">12&#x202F;€</div>
        </div>
        <div class="tarif">
            <div>Tarifs réduits *</div>
            <div class="prix">9&#x202F;€</div>
            <div class="arrow"> → </div>
        </div>
        <div class="tarif">
            <div>Prévente</div>
            <div class="prix">6&#x202F;€</div>
        </div>
        <div class="tarif" style="width: 100%; margin-bottom: 1em;">
            <div class="notes">* étudiants, + de 60 ans, demandeurs d’emploi, professionnels du spectacle, schaerbeekois</div>
        </div>

        <div class="tarif" style="width: 50%; float: left;">
            <div style="width: 100%;">Tarif étudiant <br /> en écoles supérieures artistiques</div>
            <div class="prix">5&#x202F;€</div>
        </div>
        
        
        <div class="tarif" style="width: 50%; float: left;">
            <div style="width: 100%;">Tarif «&#x202F;Jamais deux&nbsp;sans&nbsp;toi&#x202F;» <br /> (chaque 2<sup>e</sup>&nbsp;représentation)</div>
            <div class="prix">6&#x202F;€</div>
        </div>
        <div class="tarif" style="clear: both; margin-top: -0.5em;">
            <div class="prix" style="width: 48px; height: 40px; -webkit-border-radius: 130px;">Article 27</div>
            <div class="prix" style="width: 48px; height: 40px; -webkit-border-radius: 130px; margin-top: 1em;">Arsène 50</div>
        </div>
        <div class="tarif">
            <div style="padding-top:0em;">Tarif Mécène</div>
            <div class="prix">20&#x202F;€</div>
        </div>
        <div class="tarif">
            <div>Tarif Festival Noël au&nbsp;Théâtre</div>
            <div class="prix">7,50&#x202F;€</div>
        </div>

        <div class="tarif" style="clear: both; width: 100%;">
            <div>Tarifs de groupe<br/>
            (à partir de 10 personnes)</div>
        </div>
        <div class="tarif">
            <div>Groupe adulte</div> <div><div class="prix" style="width: 48px; height: 40px; -webkit-border-radius: 130px;">10&#x202F;€ la&nbsp;place</div>+ 1 place offerte à&nbsp;l’organisateur</div>
        </div>
        <div class="tarif" style="margin-bottom: 1em;">
            <div>Groupe étudiant</div> <div><div class="prix" style="width: 48px; height: 40px; -webkit-border-radius: 130px;">6&#x202F;€ la&nbsp;place</div> + 1 place offerte à&nbsp;l’enseignant</div>
        </div>
          <p style="text-align: center; width: 100%; clear: both;" class="small">Le  paiement des  réservations de groupe doit s'effectuer 10&nbsp;jours  avant la date  de représentation choisie.</p>
    </div>
    




    <div id="bar" class="region-break">
    <h2>Bar et restauration</h2>
    <p>Le bar est ouvert à 19h chaque soir de représentation. 
    Une petite restauration délicieuse et faite sur place vous est proposée avant chaque spectacle.
   </p>
    <p style="text-align:center;">
    <img class="vert" style="height: 248px; width: auto;" src="img/laidout/buffet.png" data-alt-src="img/laidout/buffet.svg" />
    </p>
    </div>



    <div id="map">
    <h2>Tous les chemins mènent à la Balsa</h2>
        <img class="vert" style="width:110%; max-width: none;  margin-left: -20px;" src="pack-com/map2-vector-15-16.svg"  data-alt-src="pack-com/map2-vector-15-16-black.svg"/>
    </div>



    <div class="region-break" id="partenaires">
    <h2>Partenaires</h2>

    <div class="fullpage">
        <!--<img class="vert" src="img/logos.svg" /> -->
    
    <img class="vert" src="img/logos_vert.svg" />
    <img class="cuivre" src="img/logos_cuivre.svg" />

    </div>

    <p>
La Balsamine est subventionnée par  la&nbsp;Fédération Wallonie-Bruxelles et fait partie  du&nbsp;réseau des&nbsp;Scènes chorégraphiques de la Commission  Communautaire française de la Région de&nbsp;Bruxelles-Capitale.
La&nbsp;Balsamine reçoit aussi le&nbsp;soutien de Wallonie-Bruxelles Théâtre/Danse et de Wallonie-Bruxelles International.
    </p>
</div>




</article>



<!--
CALENDRIER
-->


<article id="calendrier">

<h1>Bientôt à la Balsa</h1>
<div class="">

    <div class="spectacle" id="colonie">
        <dl class='artist'>
        <dd class="titre">La colonie</dd>
            <!--<dt>Performances</dt>-->
            <dd>Silvio Palomo</dd>
    <dt class="vignette">
    <img src="img/laidout/pinata.png">
    </dt>
    <dd>
            Une série proposée en 4 épisodes
           </dd>
        </dl>

        <div class="spectacle-infos">
            <div class="date">
            La visite, le 7 mars <br/>
            Le trou, le 14 mars <br/>
            L'enquête, le 11 avril <br/>
            Le parc, le 18 avril 
            </div>
        </div>
    </div>


    <div class="spectacle" id="eden">
        <dl class='artist'>
        <dd class="titre">Eden expérience(s)</dd>
            <dd>Compagnie Diplex</dd>
            <dt>Texte et mise en scène</dt><dd>Céline Ohrel</dd>
    <dt class="vignette">
    <img src="img/laidout/boite-petri.png">
    </dt>
            <dd>Création théâtre</dd>
        </dl>
        <div class="spectacle-infos">
            <div class="date">Du 17 au 25 mars</div>
        </div>
    </div>


    <div class="spectacle" id="ravage">
        <dl class='artist'>
        <dd class="titre">Décris/​Ravage</dd>
            <dt>Écriture et mise en scène</dt><dd>Adeline&nbsp;Rosenstein</dd>
    <dt class="vignette">
    <img src="img/laidout/palmier.png" style="width: 0.82cm;" />
    </dt>
        <dd>
       Projet théâtral documentaire sur&nbsp;la&nbsp;question de&nbsp;la&nbsp;Palestine.<br/>
            Proposé en&nbsp;6&nbsp;épisodes. <br/>
            Reprise des épisodes 1 à 4 <br />
            et création des épisodes 5 et 6.
            </dd>
        </dl>
        <div class="spectacle-infos">
            <div class="date">Dates à confirmer</div>
        </div>
    </div>

    <div class="spectacle" id="pollutions">
        <dl class='artist'>
        <dd class="titre">Les pollutions lumineuses</dd>
            <dd>Compagnie Les&nbsp;viandes magnétiques</dd>
            <dt>Texte et projet</dt><dd>Jean-Baptiste Calame</dd>
    <dt class="vignette">
    <img src="img/laidout/perruque.png">
    </dt>
            <dd>Création théâtre</dd>
        </dl>
        <div class="spectacle-infos">
            <div class="date">Du 26 avril au 4 mai</div>
        </div>
    </div>

    <div class="spectacle" id="kunsten">
        <dl class='artist'>
        <dd class="titre">Kunsten&shy;festival&shy;des&shy;arts</dd>
        <div class="spectacle-infos">
            <div class="date">mai</div>
        </div>
    </div>

</div>



</article>

<!-- 
Colophon
-->
<article id="colophon">

    <h2>COLOPHON</h2>

    <dl class="bible">
        <dt>Éditeur responsable</dt><dd style="padding-top: 10px;">Fabien Dehasseler — avenue Félix Marchal 1, 1030 Bruxelles</dd>
        <dt>Photographie</dt>
        <dd>Pages 4–5, 16–17, 22–23, 28–29, 34–35&#x202F;: Hichem&nbsp;Dahes<br/>
        <dt>Design graphique</dt><dd>Open Source Publishing</dd>
        <dt>Outils et programmes</dt><dd style="padding-top: 10px;">html2print, laidout, Inkscape, Gimp, Git, Etherpad, GNU/Linux</dd>
        <dt>Typographies</dt><dd>Famille UmeLoop, générée à partir de la famille Ume, avec la recette Fons et le logiciel GlyphTracer1.4</dd>
        <dt>Fichiers disponibles</dt><dd style="padding-top: 10px;">sous licence art libre sur &lt;osp.kitchen/work/balsamine.2015-2016&gt;</dd>
        <dt>Impression</dt><dd>Imprimerie Gillis, Bruxelles</dd>
    </dl>

</article>


<!--
ÉQUIPE
-->
<article id="equipe" class="region-break" >

    <h2>L'équipe</h2>
    <dl class="bible">
        <dt style="padding-top: 3px;">Monica Gomes et Fabien Dehasseler</dt>
        <dd style="padding-top: 28px;">Direction&nbsp;générale&nbsp;et&nbsp;artistique</dd>
        <dt>Laurent Henry</dt>
        <dd>Directeur administratif et&nbsp;financier</dd>
        <dt>Fanny Arvieu</dt>
        <dd>Coordination générale/​ <br/>Communication/​Accueil compagnies</dd>
        <dt>Fanny Amblard</dt>
        <dd>Presse/​Promotion/​<br />Relations publiques</dd>
        <dt>Noemi Tiberghien</dt>
        <dd style="padding-top: 10px;">Comédienne et romaniste/​Médiation écoles et associations</dd>
        <dt>Martine Wijckaert</dt>
        <dd>Metteur en scène et auteur/​<br />Artiste associée</dd>
        <dt>Jef Philips</dt>
        <dd>Directeur technique</dd>
        <dt>Rémy Urbain</dt>
        <dd>Régisseur</dd>
        <dt>Franck Crabbé</dt>
        <dd>Responsable bar</dd>
        <dt>Masira Idrissi</dt>
        <dd>Entretien</dd>
        <dt>Hichem Dahes</dt>
        <dd>Photographe associé</dd>
        <dt>Open Source Publishing</dt>
        <dd>Designers graphiques associés</dd>
    </dl>


</article>




<!--
JAVASCRIPT
-->


<script>

    $(function() {
        // - - - - - - - - - - - - - - - - - S P R E A D E D    E L E M E N T S  - - - - - - - - - - - - - - - - //
        page_height = $("#page-1").height() + (parseInt($("#page-1").css("padding-top")) * 2);
        page_width = $("#page-1").width();

        // CALCULATES OFFSET OF LEFT MARGIN OF THE PAGE
        Xorigin = $("#page-2").offset().left  + parseInt($("#page-2").css("padding-left")) + parseInt($("#page-2 .body").css("padding-left"));
        console.log("Xorigin: " + Xorigin);

        $(".spreadit").each(function(){ 
            div_top = $(this).offset().top;
            page_nb = Math.floor(div_top / page_height) * 2;
            console.log("page_nb: " + page_nb);

            // IF CENTERED, CALCULATES OFFSET FROM HALF OF IMAGE WIDTH
            if($(this).hasClass("spreadit--centered")){
                div_left = page_width - ($("img", $(this)).width() / 2);
                $(this).css("left", div_left);

                // DETECTS IF PAGE ODD OR EVEN
                shift = -1 * (page_width - div_left);

                if (div_left > page_width) { page_nb += 1}
            }
            // OTHERWISE, IF OFFSET EQUALS 0 BUT IMAGE IS OVERFLOWING
            else if ($(this).offset().left == Xorigin) {
            //else {
                shift = -1 * page_width;
            } else {
                div_left = $(this).offset().left - Xorigin;
                shift = -1 * (page_width - div_left);
            }

            // MOVES THE SPREADED DIV INTO A .PAGE ELEMENT
            $(this).appendTo($("#page-" + page_nb + " .page")).addClass('spreaded');

            // CLONES THE SPREADED DIV INTO THE NEXT PAGE WITH AN OFFSET
            page_nb += 1;
            console.log("shift: " + shift);
            $(this).clone().addClass("spreaded").css("left", shift).appendTo($("#page-" + page_nb + " .page"));
        });

        // - - - - - - - - - - - - - - - - - T R A M E S  - - - - - - - - - - - - - - - - //
        // Entrée de jeu
        for (i = 1; i <= 3; i++){
            $("#page-" + i + " .trame img").attr("src", "/img/trames/vagues1-motif.svg");
        }

        // Juste avant la nuit
        for (i = 4; i <= 11; i++){
            $("#page-" + i + " .trame img").attr("src", "/img/trames/vagues7-motif.svg");
        }

        // Noël au théâtre
        for (i = 12; i <= 15; i++){
            $("#page-" + i + " .trame img").attr("src", "/img/trames/vagues8-motif.svg");
        }

        // Cataclop Enzovoorts
        for (i = 16; i <= 21; i++){
            $("#page-" + i + " .trame img").attr("src", "img/trames/vagues10-motif.png");
        }

        // Fractal
        for (i = 22; i <= 27; i++){
            $("#page-" + i + " .trame img").attr("src", "/img/trames/vagues11-motif.svg");
        }

        // Side Effects
        for (i = 28; i <= 33; i++){
            $("#page-" + i + " .trame img").attr("src", "/img/trames/vagues12-motif.svg");
        }
        // Revolt
        for (i = 34; i <= 37; i++){
            $("#page-" + i + " .trame img").attr("src", "/img/trames/vagues13-motif.png");
        }
        // Balsatoiles
        for (i = 38; i <= 41; i++){
            $("#page-" + i + " .trame img").attr("src", "/img/trames/vagues7-motif.svg");
        }
        // Extras
        for (i = 42; i <= 43; i++){
            $("#page-" + i + " .trame img").attr("src", "/img/trames/vagues3-motif.svg");
        }

        // Infos pratiques
        for (i = 44; i <= 52; i++){
            $("#page-" + i + " .trame img").attr("src", "/img/trames/vagues2-motif.svg");
        }



         //EXPORT COULEURS
            $("html:not(export) .vignette img").each(function(){
                $(this).attr("src", $(this).attr("src").replace("laidout", "laidout/png-gray"));
            });
    });

</script>
