/* the geometry of the page */
@page-width: 74mm;
@page-height: 105mm;

/*@page-width: 420.944881995pt;*/
/*@page-height: 595.2755907pt;*/
/*@page-height: 595pt;*/

/* the size of the crop marks*/
@crop-size: 7mm;
/*@crop-size: 19.84251969pt;*/

/* the size of bleed */
@bleed: 5mm;
/*@bleed: 14.17322835pt;*/

// FIXME: make a case for single page layouts
@page-margin-inside: 6mm;
@page-margin-outside: 6mm;
@page-margin-top: 3mm;
@page-margin-bottom: 10mm;

// Header & footer variables
@header-height: 6mm;
@header-text: counter(page-counter);
@footer-height: 10mm;
@footer-text: "";


