/**
 * DEBUG STYLES
 */

.debug .page {
    outline: 1px solid purple;
}

.debug .region-break {
    border-top: 1px dashed blue;
    box-sizing: border-box;
}

.debug img {
    outline: 1px solid blue;
}
