@font-size: 8.5pt;
@line-height: 12pt;
@color: black;

article{
	max-width:100% !important;
	padding:0px !important;
	margin:0px !important;
}

.page {
	padding: 5mm !important;
    overflow: hidden;
}
#page-1 .page {
    margin-top: -5mm;
    margin-left: -5mm;
    width: 115mm;
    height: 158mm;
    background-size: 100% 100%;
}

.column45 {
	float: left;
	width: 48%;
	padding: 0mm !important;
	margin:0px !important;
}

.column65 {     float: left;    width: 65%; box-sizing: border-box; }
.column35 {     float: left;    width: 35%; box-sizing: border-box; padding-left: @line-height / 2;}
.column50 {     float: left;    width: 50%; box-sizing: border-box; }

h1{
    margin-bottom: 0;
    outline: 1px solid black;
}


.date {
	margin-top:10px;
}

.bottom{
    margin-top: @line-height / 2;
}

.entete{
	margin-bottom: 13px;

    dl.artist {
        //font-family: UmeVertical;
    }
    dd:last-child {
        margin-left: 0px;
    }
    .vignette {
        margin-bottom: 1em;
    }
}
.gravure{
	width:30%;
	margin:25px 20px 10px -90px;
	float:left;
	position:realtive;
}

.bible{
    background: none !important;
	font-size: 10px !important;
    line-height: 10pt;

    dt {
        background-size: 100%;
        clear: both;
        outline: 1px solid black;
        margin-top: 2px !important;
        margin-bottom: 1px !important;
        padding: 0 0.4em;
        padding-top: 1px;
    }
    dt:first-child {
        margin-top: 1px !important;
    }
    dd{
        border-top: 1px solid black;
        padding: 0;
        padding-bottom: 5px;
        padding-top: 1px;
    }
}

dl {
    margin-top: 0px!important;
}

.production{
	font-size: 10px !important;
    line-height: 10pt;
}
.production > span{
	font-size: 8px !important;
}
#logos {
    width: 100%;
    margin-top: 2 * @line-height;
}
.colophon {
    position: absolute;
    bottom: 5mm;
    font-family: Mincho;
    font-size: 7px;
    line-height: 8px;
}
