body.argent {
    .page { 
        display: none; 
    }
}

body.cuivre {
    .trame,
    .vert,
    .argent,
    .tarif {
        display: none !important;
    }
    h1, h2, h3, dl, p, .spectacle-infos, .header { 
        visibility: hidden; 
    }
    .tsp {
        visibility: visible; 
    }
}

body.vert {
    .trame,
    .cuivre,
    .argent,
    .tsp {
        display: none;
    }
    * {
        color: black !important;
        border-color: black !important;
        outline-color: black !important;
    }

    #deleuze {
        margin-top: 11em;
    }
}

@media print {
    .lo-res {
        outline: none !important;
    }
}
