/* Here you can put your specific typography, layout styles. */
/* FONTES */
@font-face {
    font-family: "Mincho";
    src: url("/fonts/Ume-Mincho_Balsa.ttf");
}

@font-face {
    font-family: "Gothic";
    src: url("/fonts/UmeLoop/UmeLoopGothic6.otf");
}
@font-face {
    font-family: "Gothic12";
    src: url("/fonts/UmeLoop/UmeLoopGothic12.otf");
}

@font-face {
    font-family: "UmeVertical";
    //src: url("/fonts/Ume-P-Gothic-Vertical.ttf");
    src: url("/fonts/UmeLoop/UmeLoopVertical6.otf");
}


/* VARIABLES */

@color: #0a3e2c;
@color2: #8b634b;
@small: 0.8em;

/* STYLES COMMUNS */

body {
font-family: "Gothic";
font-weight: 300;
font-size: 10pt;
line-height: 1.25em;
texte-transform: uppercase;
color: @color;
}

.body {
width:100%;
height: 100%;
//padding-bottom: 20mm;
}

.small {
    font-size:@small;
    }

.header {
font-size: 1em;
        font-weight: 200;
padding-top: 16px;
//position: absolute;
}

.footer {
    font-size: 7pt;
    font-weight: 300;
    height: 0;
    }

.paper {
    position: relative;
}

section.trame {
    position: absolute;
    top: 0;
    left: 0;
}



.paper:nth-child(even) section.header:before {
content: counter(page-counter);
}
.paper:nth-child(even) section.header:after {
content: "";
}




h1{
    font-family: Gothic12;
font-weight: 300;
font-size: 2em;
line-height: 1.25em;
padding:0px;
//-webkit-region-break-before: always;
text-align: center;
margin-bottom: 1em;
}

h2{
    font-family: "Gothic12";
    //font-weight: 600;
font-size: 2.2em;
line-height: 1.1em;
text-transform: uppercase;
text-align: center;
margin-bottom: 0.5em;
margin-top: 0;
}

h3{
font-size: 1em;
margin-top: 0.5em;
}


address {
    white-space: pre;
}

p + p {
    margin-top: 1em;
}

b {
    //font-family: Mincho;
    //outline: 1px solid @color;
text-decoration: underline;
    }

em {
    font-style: italic;
}

sup {
    font-size: 0.7em;
    vertical-align: 0.5em;
    line-height: 0;
}

/* - - - - - - - - - - - - - - - - - S P E C T A C L E S - - - - - - - - - - - - - - - - -*/

div.spectacle {
    -webkit-region-break-before: always;
    background-position: center top;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    height: 8.5cm;


    text-align:left;
display: -webkit-flex-inline;
-webkit-justify-content: space-between;
-webkit-flex-direction: column;
-webkit-flex-wrap: wrap;

div {
display: block;
border-bottom: 1px solid @color;
padding-bottom: 0.3em;
padding-top: 0.3em;
}

.artist {
    margin: 0;
    
dt {
    font-family: "Gothic";
               text-transform:uppercase;
    float: left;
    padding: 5px 10px 0.85em 10px;
outline: 1px solid @color;
}
dd {
    text-align: center;
    vertical-align: top;
    padding: 0.85em 0px 5px 0px;
outline: 1px solid @color;
margin-top: 1px;
}
dd + dt {
margin-top: 1px;
}
}

.spectacle-infos {
width: 75%;
margin: 0 auto;
font-family: "Gothic";
          position: absolute;
          bottom: 0em;
          text-align: center;
          width: 100%;

.type {
}

.date {
border-top: 1px solid @color;
}
}

}

.vignette {
    //outline: none;
    width: 1.25cm;
    padding: 0.5em !important;
}

.tsp {
    position: absolute;
    top: 40%;
    left: 25%;
}

/* - - - - - - - - - - - - - - - - - S P É C I F I Q UE    À    C H A Q U E    S P E C T A C L E  - - - - - - - - - - - - - - - - -*/
#page-1 .page {
.header{
display:none;
}
}
#page-2 .page {
.header{
display:none;
}
}


// Titres courants édito
#page-3 .page section.header:before,
#page-5 .page section.header:before {
        content: "L’art – acte de résistance";
        text-align : right;
        font-size: 10px;
}

#page-4 .page section.header:after,
#page-6 .page section.header:after {
        content: "L’art, acte de résistance";
        text-align: left;
        font-size: 10px;
}



#edito {
-webkit-region-break-before: always;
text-align: justify;
}

#calendrier{
    text-align: center;
}

#bombe { 
    background-image: url("/img/grenade.png"); 
background-size: 100%;
}

#whispers {
    
.tsp {
    top: -7%;
}
}

#nevermore {
    
.tsp {
    top: -5%;
}
}

#juste-avant{
    background-image: url("/img/airmax-tsp.png"); 
background-size: 100%;
background-position: 0 110px;
}


#colonie { 
    background-image: url("/img/pinata.png"); 
background-size: 70%;
background-position: center 50px;
}

#ravage {
    
.tsp {
    top: -6%;
}
}

#cataclop { 
    background-image: url("/img/cataclop_serpent.png"); 
background-size: 80%;
background-position: 0 120px;
.tsp {
    top: 11%;
}
}

#pollutions{
    background-image: url("/img/wig_tsp_plus.png");
    background-size: 73%;
background-position: 35px 52px;
    }


/*       I N F O S     P R A T I Q U E S     */

#infos-pratiques {
-webkit-region-break-before: always;
font-family: UmeVertical;
font-size: 0.7em;
line-height: 1.3em;
}

#page-22 .page {
background-image: url("/img/text-shapes_flat.svg");
background-position: 0 0;
}

#pass {
-webkit-region-break-before: always;
height: 7cm;
padding:2mm;
position: relative;

h2 {
margin-bottom: 0.5em;
}

#sticker {
position: absolute;
bottom: -10px;
right: 0px;
width: 3cm;
}
}



dl.infos-pass {
text-transform : uppercase;
font-size: 0.5em;
font-family: UmeVertical;
display: -webkit-flex;
-webkit-flex-wrap: wrap;
-webkit-flex-direction: row;
-webkit-align-content: stretch;
width: 70%;
margin: 0 auto;

dt {
    -webkit-flex-grow: 0;
margin-top: 2em;
margin-bottom: 1em;
}
dd {
    text-align: center;
    vertical-align: top;
-webkit-flex-grow: 2;
border-bottom: 1px solid @color;
-webkit-align-self: flex-end;
-webkit-flex-basis: 110px;

}

}

#tarifs {

.tarif {
margin: 0.5em 0;
display: -webkit-flex;
-webkit-flex-wrap: wrap;

span {
-webkit-flex-grow: 1;
text-align: center;
margin-bottom: 1em;
}
.prix {
border: 1px solid @color2;
-webkit-border-radius: 20px;
padding: 0.5em 0.25em;
}
.notes{
font-size:@small;
line-height:1.3em;
}
}
h3 {
text-transform: uppercase;
text-decoration: underline;
text-align: center;
}
}


#logos {
    -webkit-region-break-before: always;
}
