<table style="font-family: UmeMinchoLatin, Andale Mono, Courier New, Monospace; border-collapse: collapse; text-align: center; line-height: 18px; font-size: 14px; color: #0A3E2C; width: 600px; font-weight: normal; margin: 50px auto 100px;" border="0" cellspacing="0"><tbody>
<tr>
<td style="width: 70%; padding: 0 13px; border: 1px solid #0a3e2c;" rowspan="3">
            la Balsamine <br>
            Avenue Félix Marchal, 1 <br>
            1030 Bruxelles
        </td>
        <td colspan="2"> </td>
    </tr>
<tr>
<td style="padding: 6px 13px; border: 1px solid #0a3e2c;">
            Réservations
        </td>
        <td style="width: 50%;"> </td>
    </tr>
<tr>
<td style="padding: 6px 13px; border: 1px solid #0a3e2c;">
            02 735 64 68 
        </td>
        <td style="width: 50%;"> </td>
    </tr>
<tr>
<td rowspan="2" style="text-align: center; padding-top: 6px; padding-right: 10px; vertical-align: top;" align="center" valign="top">
            <img src="http://balsamine.be/uploads/Partenaires.Partenaires/Balsa-logos-partenaires-2015.png" alt="logos partenaires">
</td>
        <td colspan="2" style="padding: 6px 13px; border: 1px solid #0a3e2c;">
            <a style="color: #0A3E2C; text-decoration: none; font-weight: normal;" href="mailto:reservation@balsamine.be">reservation@balsamine.be</a>
        </td>
    </tr>
<tr>
<td colspan="2" style="width: 30%; padding: 6px 13px; border: 1px solid #0a3e2c;">
            <a style="color: #0A3E2C; text-decoration: none; font-weight: normal;" href="http://balsamine.be/">www.balsamine.be</a>
        </td>
    </tr>
<tr>
<td colspan="3" style="text-align: center; padding-top: 3em; font-size: 9px; line-height: 11px; text-transform: uppercase; letter-spacing: 1px; font-family: 'UmePGothicBalsaRegular', 'UmeMinchoLatin', 'Andale Mono', 'Courier New', Monospace;" align="center"><a href="mailto:info@balsamine.be" style="color: #0A3E2C; text-decoration: none; font-weight: normal;">Si vous désirez ne plus recevoir la newsletter de la Balsamine, envoyez-nous une demande par mail.</a></td>
    </tr>
</tbody></table>
 
