<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style>
    h1 {
        font-weight: normal;
        font-size: 34px;
        line-height: 34px;
        color: #0A3E2C;
        text-transform: uppercase;
    }
    h2 {
        font-weight: normal;
        font-size: 28px;
        line-height: 24px;
        color: #0A3E2C;
        text-transform: uppercase;
        font-family: "UmeMinchoLatin", "Andale Mono", "Courier New", Monospace;
    }
    h3 {
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #0A3E2C;
    }
    a {
        font-weight: normal;
        color: #0A3E2C;
    }
    table {
        font-family: "UmePGothicBalsaRegular", "Liberation Sans", "Trebuchet MS", Arial, Sans-Serif;
        text-align: center;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #0A3E2C;
        margin: auto;
        text-align: center;
    }
    td { padding: 19px; }
    td.titre {
        border-bottom: 1px solid #0A3E2C;
        padding-top: 2em;
        padding-bottom: 3em;
    }
    .legend {
        font-size: 11px;
        line-height: 16px;
        font-family: "UmePGothicBalsaRegular", "Liberation Sans", "Trebuchet MS", Arial, Sans-Serif;
    }
    blockquote {
        font-size: 14px;
        line-height: 18px;
        color: #0A3E2C;
        font-family: "UmeMinchoLatin", "Andale Mono", "Courier New", Monospace;
    }
    img#balsa-logo {
        vertical-align: middle;
    }
    .vignette {
        /*border: 15px solid #0A3E2C;*/
    }
    div.titre {
        margin: 1em 0;
    }
    div.titre2 {
        margin: 1em 0;
    }
    h2 {
        color:#0A3E2C !important;
        font-family:UmePGothicBalsaRegular, "Andale Mono", "Courier New", Monospace;
        font-size:29pt;
        line-height:30pt;
        text-align:center;
        text-transform:uppercase;
        margin-bottom: 0;
    }
    h3 {
        color:#0A3E2C !important;
        font-family:UmePGothicBalsaRegular, "Andale Mono", "Courier New", Monospace;
        font-size: 12pt;
        line-height: 14pt;
        text-align:center;
        text-transform:uppercase;
        margin-top: 0;
    }
    .artiste {
        color:#0A3E2C !important;
        font-size: 12pt;
        line-height: 14pt;
    }
</style>


<table border="0" style="width: 822px; border-collapse: collapse;">
    <tr>
        <td colspan="3">
            <h1><img id="balsa-logo" src="http://balsamine.be/uploads/Main.HomePage/balsa-blason.png" alt="à la balsa"/></h1>
        </td>
    </tr>
    <tr background="http://balsamine.be/uploads/Site.Styles20152016/vagues1-small.png" style="background-image: url('http://balsamine.be/uploads/Site.Styles20152016/vagues1-small.png');">
        <td>
            <img class="vignette" src="http://balsamine.be/uploads/Saison2015-2016.WijckaertUneBombe/martine_small_bw.jpg" style="width: 500px;" alt="" />
            <p class="legend">© Hichem Dahes</p>
        </td>
        <td>
            <div class="titre">
                <h2>Wijckaert, une bombe</h2>
                <div class="artiste">Martine Wijckaert</div>
            </div>
            <p>
                du 30 septembre au 10 octobre 2015 <br />à 20h30
            </p>
            <p class="legend">
                (relâche le dimanche)<br />
                Amphithéâtre de la Balsamine
            </p>
            <p>&bull;</p>
            <p>
                <a href="http://balsamine.be/index.php/Creations/LArgent">Plus d’infos</a><br />
                &bull;
                <br />
                <a href="#">Réservations</a>
            </p>
        </td>
        <td>
            <blockquote>
            «A dark phantasm with brains and madness and ghosts and many others dark things from a dark creator. A Show d’Arkas!
            </blockquote>
            <p>
            L'ARGENT est un spectacle qui parle de LA MORT.
            Comment évoquer la mort avec un langage de vivant?
            Comment rendre présente à l'esprit la mort qui justement est le paroxysme de l'absence?
            Comment mettre des images sur ce mot indéfinissable?
            Indéfinissable, mais qu'on tente de définir… en vain.
            Bon… tout cela peut paraître désespérant.
            Mais la Mort a l'avantage de ne pas manquer d'humour ou du moins de créer des situations qui prêtent à rire.
            </p>
        </td>
    </tr>
    <tr><td colspan=3 style="width: 822px; margin: auto; padding: 1em;">&nbsp; </td></tr>
    <tr background="http://balsamine.be/uploads/Site.Styles20152016/vagues1-small.png" style="background-image: url('http://balsamine.be/uploads/Site.Styles20152016/vagues1-small.png');">
        <td>
            <blockquote>
    « En concevant ce projet, je me pose la question d'une psychologie intime et collective à la fois qui parlerait de l'être humain dans la complexité qui le façonne, de son inconscient et de notre rapport à lui, des nœuds qui s'y nouent et s'y dénouent.»
            </blockquote>
            <p class="legend">
                Témoignage / Raphaëlle Blancherie 
            </p>
            <p>
    Nœuds est cet obscur objet du désir porté par un duo féminin, pleinement là et qui nous offre une parole intime qui rejoint l’universel. Elles se livrent, lavent leur linge sale en public, pour participer à une quête relationnelle tout en s’amusant des déboires de la vie inconsciente qui affleure, des lapsus et des actes manqués…
            </p>
        </td>
        <td>
            <div class="titre2">
                <h2>Hantologie</h2>
                <p class="artiste">Samuel Lefeuvre</p>
            </div>
            <p>
                du 29 avril au 2 mai 2015 à&nbsp;20h30
            </p>
            <p class="legend">
                (relâche le dimanche et le lundi)<br/>
                Amphithéâtre de la Balsamine
            </p>
            <p>&darr;</p>
            <p>
                <a href="http://balsamine.be/index.php/Creations/Noeuds">Plus d’infos</a><br />
                &bull;
                <br />
                <a href="#">Réservations</a>
            </p>
        </td>
        <td>
            <img class="vignette" src="http://git.constantvzw.org/?p=osp.work.balsamine.2014-2015.git;a=blob_plain;f=mockups/hantologie-full-socle.jpg;hb=HEAD" style="width: 500px;" alt="" />
            <p class="legend">© Hichem Dahes</p>
        </td>
    </tr>
</table>




