<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style>
    h1 {
        font-weight: normal;
        font-size: 48px;
        line-height: 48px;
        color: #0A3E2C;
        text-transform: uppercase;
	letter-spacing: -1px;
	font-family: "UmePGothicBalsaRegular", "UmeMinchoLatin", "Andale Mono", "Courier New", Monospace;
	
    }
    h2 {
        font-weight: normal;
        font-size: 28px;
        line-height: 28px;
        color: #0A3E2C !important;
        text-transform: uppercase;
	letter-spacing: -1px;
	font-family: "UmePGothicBalsaRegular", "UmeMinchoLatin", "Andale Mono", "Courier New", Monospace;
    }
    h3 {
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #0A3E2C;
    }
    a {
        font-weight: normal;
        color: #0A3E2C;
    }
    table, p {
	    font-family: "UmePGothicBalsaRegular", "UmeMinchoLatin", "Andale Mono", "Courier New", Monospace;
        text-align: center;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #0A3E2C;
        margin: auto;
    }
    td.titre {
        padding-top: 2em;
        padding-bottom: 3em;
    }
    .legend {
	    padding-top: 12px;
	    font-size: 9px;
        line-height: 11px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: "UmePGothicBalsaRegular", "UmeMinchoLatin", "Andale Mono", "Courier New", Monospace;
    }
    img#balsa-logo {
        vertical-align: middle;
    }
    .exergue {
	    font-family: "UmePGothicBalsaRegular", "UmeMinchoLatin", "Andale Mono", "Courier New", Monospace;
        margin: 0 25%;
        text-transform: uppercase;
    }
    table {
        width: 100%;
    }
    .vignette {
        /*border: 15px solid #0A3E2C;*/
    }
    div.titre {
        margin: 1em 0;
    }
    div.titre2 {
        margin: 1em 0;
    }
    h2 {
        color:#0A3E2C !important;
        font-family:UmePGothicBalsaRegular, "Andale Mono", "Courier New", Monospace;
        font-size:29pt;
        line-height:30pt;
        text-align:center;
        text-transform:uppercase;
        margin-bottom: 0;
    }
    h3 {
        color:#0A3E2C !important;
        font-family:UmePGothicBalsaRegular, "Andale Mono", "Courier New", Monospace;
        font-size: 12pt;
        line-height: 14pt;
        text-align:center;
        text-transform:uppercase;
        margin-top: 0;
    }
    .artiste {
        color:#0A3E2C !important;
        font-size: 12pt;
        line-height: 14pt;
    }
    .et-pour {
        padding-top: 58px;
        height: 70px;
    }
    .artiste {
        color:#0A3E2C !important;
        font-size: 12pt;
        line-height: 14pt;
    }
</style>


<table cellspacing="5" border="0">
    <tr>
        <td>
            <h1><img id="balsa-logo" src="http://balsamine.be/uploads/Main.HomePage/balsa-blason.png" alt="à la balsa"/></h1>

            <h2>Invitation</h2>
        </td>
    </tr>
    <tr>
        <td>
            <p class="exergue">
                Madame Stéphanie Vilayphiou 
            </p>
            <p class="exergue" style="padding-bottom: 2em; ">
                La Balsamine est heureuse de vous inviter  pour
            </p>
        </td>
    </tr>
</table>
<table background="http://balsamine.be/uploads/Site.Styles20152016/vagues1-small.png" cellspacing="5" border="0" style="width: 822px; margin: auto; padding: 1em; background-image: url('http://balsamine.be/uploads/Site.Styles20152016/vagues1-small.png');">
    <tr>
        <td>
            <img class="vignette" src="http://balsamine.be/uploads/Saison2015-2016.WijckaertUneBombe/martine_small_bw.jpg" style="width: 500px;" alt="" />
            <p class="legend">© Hichem Dahes</p>
        </td>
        <td>
            <div class="titre">
                <h2>Wijckaert, une bombe</h2>
                <div class="artiste">Martine Wijckaert</div>
            </div>
            <p>
                Création théâtre
            </p>
            <p style="margin-bottom: 1em; text-transform: uppercase;">
                du 30 septembre au 10 octobre 2015 <br />à 20h30
            </p>
            <p style="margin-bottom: 1em; text-transform: uppercase; font-weight: bold;">
                Invitation pour<br />
                le 30 septembre ou le <sup>1er</sup> octobre 2015 à 20h30
            </p>
            <p style="margin-bottom: 1em;">
                Ici du texte optionnel.
            </p>
            <p>&darr;</p>
            <p>
                <a href="#">Plus d’infos</a><br />
            </p>
        </td>
    </tr>
</table>
            <p style=" width: auto; " class="exergue et-pour">&amp;</p>
<table background="http://balsamine.be/uploads/Site.Styles20152016/vagues1-small.png" cellspacing="5" border="0" style="width: 822px; margin: auto; padding: 1em; background-image: url('http://balsamine.be/uploads/Site.Styles20152016/vagues1-small.png');">
    <tr>
        <td>
            <div class="titre2">
                <h2>Hantologie</h2>
                <p class="artiste">Samuel Lefeuvre</p>
            </div>
            <p>
                Création danse
            </p>
            <p style="margin-bottom: 1em; text-transform: uppercase;">
                du 29 avril au 2 mai 2015 <br />à 20h30
            </p>
            <p style="margin-bottom: 1em; text-transform: uppercase; font-weight: bold;">
                Invitation pour<br />
                le 29 ou 30 avril 2015 à 20h30
            </p>
            <p style="margin-bottom: 1em;">
                Ici du texte optionnel.
            </p>
            <p>&darr;</p>
            <p>
                <a href="#">Plus d’infos</a><br />
            </p>
        </td>
        <td>
            <img class="vignette" src="http://git.constantvzw.org/?p=osp.work.balsamine.2014-2015.git;a=blob_plain;f=mockups/hantologie-full-socle.jpg;hb=HEAD" style="width: 500px;" alt="" />
            <p class="legend">© Hichem Dahes</p>
        </td>
    </tr>
</table>
