/* the geometry of the page */
@page-width: 105mm;
@page-height: 148mm;

/* the size of the crop marks*/
@crop-size: 7mm;

/* the size of bleed */
@bleed: 5mm;

// FIXME: make a case for single page layouts
@page-margin-inside: 3mm;
@page-margin-outside: 3mm;
@page-margin-top: 3mm;
@page-margin-bottom: 3mm;

// Header & footer variables
@header-height: 2mm;
@header-text: "";
@footer-height: 2mm;
//@footer-text: counter(page-counter);


